{% extends 'root/base.html' %}
{% load static %}

{% block optionalCSS %}
<link rel="stylesheet" type="text/css" href="{% static 'usuarios/css/botones.css' %}">
{% endblock %}


{% block content %}

<div class="content-top-margin">

<div class="featured content-top-margin" style="margin-top:10px;">
    <div class="container">
        <div class="card">
            <div class="card-body">
              <form id="form" method="POST" action="/usuarios/changePassword" class="needs-validation" novalidate>
              {% csrf_token %}
                <h3 style="display: inline;">Cambio de Contraseña</h3>
                <a href="#"><button class="btn btn-success" style="float: right; margin-right: 10px;" type="submit"><i class="fas fa-save"></i> Guardar</button></a>
                <hr>
                <div class="row" style="padding-top: 15px;">
                    <div class="col-12 col-md-6 col-lg-4">
                        <h4>Contraseña Anterior</h4>
                        <input class="input--style-4 form-control" type="password" name="last" id="last" pattern=".{1,}" required>
                        <div class="valid-feedback">

                        </div>
                        <div class="invalid-feedback">
                            Por favor, ingrese su contraseña anterior.
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-top: 50px;">
                    <div class="col-12 col-md-6 col-lg-4">
                        <h4 style="display: inline;">Nueva Contraseña</h4> <p style="display: inline;"> (Mínimo 6 caracteres)</p>
                        <input class="input--style-4 form-control" type="password" name="new" id="new" onkeyup="checkPass(this.id);" required>
                        <div class="valid-feedback pass">
                            ¡Correcto!
                        </div>
                        <div class="invalid-feedback word">
                            Por favor, ingrese su nueva contraseña.
                        </div>
                    </div>
                    <div class="col-12 col-md-8 col-lg-2">
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <h4>Confirmar Contraseña</h4>
                        <input class="input--style-4 form-control" type="password" name="new2" id="new2" onkeyup="checkPass(this.id);" required>
                        <div class="valid-feedback pass">
                            ¡Correcto!
                        </div>
                        <div class="invalid-feedback word">
                            Por favor, ingrese la contraseña de nuevo.
                        </div>
                    </div>
                </div>
                <input class="input--style-4 form-control" type="password" name="safe" id="safe" pattern=".{1,}" required hidden>
              </form>
            </div>
        </div>
    </div>
</div>
<br><br><br>
</div>




{% endblock content %}


{% block optionalJS %}
<script type="text/javascript" src="{% static 'usuarios/js/navbar_perfil.js' %}"></script>

<script type="text/javascript">
    checkNotificationSession();
</script>

<script type="text/javascript" src="{% static 'usuarios/js/changePassword.js' %}"></script>

{% endblock %}
