{% extends 'root/base.html' %}
{% load static %}



{% block optionalCSS %}
    <!-- Vendor CSS-->
    <link href="{% static 'usuarios/styles/vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'usuarios/fonts/iconic/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'usuarios/styles/vendor/datepicker/daterangepicker.css' %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static 'usuarios/styles/main.css' %}" rel="stylesheet" media="all">

    <!--Button CSS -->
    <link href="{% static 'usuarios/stylesButton/main.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'usuarios/stylesButton/util.css' %}" rel="stylesheet" media="all">
{% endblock %}


{% block content %}


<div class="page-wrapper bg-gra-01 p-t-130 p-b-100 font-poppins">
    <div class="wrapper wrapper--w680">
        <div class="card card-4" style="margin-top: 50px;">
            <div class="card-body">
                {% if adminCreator %}
                <h1 class="text-center">Registrar Usuario</h1>
                <form method="POST" action="/usuarios/adminVerifyCreateUser">
                {% else %}
                <h1 class="text-center">Regístrate</h1><br>
                <form method="POST" action="/usuarios/createUser">
                {% endif %}
                    {% csrf_token %}
                    {% if adminCreator %}
                    <div class="">
                        <label class="label">Rol</label>
                        <div class="rs-select2 js-select-simple select--no-search">
                            <select name="rol" id="rol" required>
                                <option value="Propietario" selected>Propietario</option>
                                <option value="Revisor">Revisor</option>
                                <option value="Administrador">Administrador</option>
                                {% if super %}
                                <option value="SuperAdministrador">SuperAdministrador</option>
                                {% endif %}
                            </select>
                            <div class="select-dropdown"></div>
                        </div>
                    </div>
                    <br>
                    {% endif %}
                    <div class="row row-space">
                        <div class="col-12">
                            <div class="input-group">
                                <label class="label">Nombre</label>
                                <input class="input--style-4" type="text" name="nombre" required>
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-6">
                            <div class="input-group">
                                <label class="label">Apellido Paterno</label>
                                <input class="input--style-4" type="text" name="apellido_paterno" required>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group">
                                <label class="label">Apellido Materno</label>
                                <input class="input--style-4" type="text" name="apellido_materno" required>
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-6">
                            <div class="input-group">
                                <label class="label">Contraseña</label>
                                <div class="invalid-feedback invalid-password">
                                        Las contraseñas no coinciden
                                </div>
                                <div class="invalid-feedback invalid-password-len">
                                        La contraseña debe ser de mínimo 6 caracteres
                                </div>
                                <input class="input--style-4" type="password" name="contrasena" id="contrasena" required>
                            </div>

                        </div>
                        <div class="col-6">
                            <div class="input-group">
                                <label class="label">Confirmar Contraseña</label>
                                <div class="invalid-feedback invalid-password">
                                        Las contraseñas no coinciden
                                </div>
                                <div class="invalid-feedback invalid-password-len">
                                        La contraseña debe ser de mínimo 6 caracteres
                                </div>
                                <input class="input--style-4" type="password" name="confirmar_contrasena" id="confirmar_contrasena" required>
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-6">
                            <div class="input-group">
                                <label class="label">Correo</label>
                                <div class="invalid-feedback invalid-mail">
                                    ¡Oops! El correo que ingresaste ya existe.
                                </div>
                                <input class="input--style-4" type="email" name="email" id="email" required>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group">
                                <label class="label">Teléfono</label>
                                <input class="input--style-4" type="text" name="telefono" required>
                            </div>
                        </div>
                    </div>
                    <div class="ocultable">
                        <div class="">
                            <label class="label">Estado</label>
                            <div class="rs-select2 js-select-simple select--no-search">
                                <select name="estado" required>
                                    <option disabled="disabled" selected="selected">Seleccione un estado...</option>
                                    <option value="Aguascalientes">Aguascalientes</option>
                                    <option value="Baja California">Baja California</option>
                                    <option value="Baja California Sur">Baja California Sur</option>
                                    <option value="Campeche">Campeche</option>
                                    <option value="Chiapas">Chiapas</option>
                                    <option value="Chihuahua">Chihuahua</option>
                                    <option value="CDMX">Ciudad de México</option>
                                    <option value="Coahuila">Coahuila</option>
                                    <option value="Colima">Colima</option>
                                    <option value="Durango">Durango</option>
                                    <option value="Estado de México">Estado de México</option>
                                    <option value="Guanajuato">Guanajuato</option>
                                    <option value="Guerrero">Guerrero</option>
                                    <option value="Hidalgo">Hidalgo</option>
                                    <option value="Jalisco">Jalisco</option>
                                    <option value="Michoacán">Michoacán</option>
                                    <option value="Morelos">Morelos</option>
                                    <option value="Nayarit">Nayarit</option>
                                    <option value="Nuevo León">Nuevo León</option>
                                    <option value="Oaxaca">Oaxaca</option>
                                    <option value="Puebla">Puebla</option>
                                    <option value="Querétaro">Querétaro</option>
                                    <option value="Quintana Roo">Quintana Roo</option>
                                    <option value="San Luis Potosí">San Luis Potosí</option>
                                    <option value="Sinaloa">Sinaloa</option>
                                    <option value="Sonora">Sonora</option>
                                    <option value="Tabasco">Tabasco</option>
                                    <option value="Tamaulipas">Tamaulipas</option>
                                    <option value="Tlaxcala">Tlaxcala</option>
                                    <option value="Veracruz">Veracruz</option>
                                    <option value="Yucatán">Yucatán</option>
                                    <option value="Zacatecas">Zacatecas</option>
                                </select>
                                <div class="select-dropdown"></div>
                            </div>
                        </div>
                        <br>
                        <div class="row row-space">
                            <div class="col-6">
                                <div class="input-group">
                                    <label class="label">Nombre de Agencia (opcional)</label>
                                    <input class="input--style-4" type="text" name="nombre_agencia">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group">
                                    <label class="label">Teléfono de Agencia (opcional)</label>
                                    <input class="input--style-4" type="text" name="numero_agencia">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                      <div class="input-group" style="margin-top: 20px;">
                          <input class="checkmark" type="checkbox" name="tyc" id="tyc" style="position: relative; margin-left: 30px; margin-right: 15px;" required>
                          <label class="label" for="tyc" style="padding-top: 5px;"> He leído y acepto los <a href="#" data-toggle="modal" data-target="#tyc-modal">términos y condiciones</a> así como las <br><a href="#" data-toggle="modal" data-target="#pdp-modal">políticas de privacidad</a> de la página.</label>
                      </div>
                    </div>
                    <br>
                    <div class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit" id="submit" onclick="checkTyC();">
							<span style='font-size:35px;'>&#10142;</span> <!-- main.css línea 425 -->
						</button>
					</div>
                </form>
            </div>
        </div>
    </div>
</div>

{% include './modals/tyc.html' %}
{% include './modals/pdp.html' %}


{% endblock content %}

{% block optionalJS %}

<script type="text/javascript">
    checkNotificationSession();
</script>

<!-- Vendor JS-->
<script src="{% static 'usuarios/js/vendor/select2/select2.min.js' %}"></script>
<script src="{% static 'usuarios/js/vendor/datepicker/moment.min.js' %}"></script>
<script src="{% static 'usuarios/js/vendor/datepicker/daterangepicker.js' %}"></script>

<!-- Main JS-->
<script src="{% static 'usuarios/js/global.js' %}"></script>

<!-- Button JS -->
<script src="{% static 'usuarios/jsButton/main.js' %}"></script>

<!-- Contrasena JS -->
<script src="{% static 'usuarios/js/validarContrasena.js' %}"></script>

{% if adminCreator %}
<script type="text/javascript" src="{% static 'usuarios/js/navbar.js' %}"></script>
{% endif %}

<!-- Terminos y condiciones-->
<script src="{% static 'usuarios/js/tyc.js' %}"></script>

{% endblock %}
