{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
	<title>Conexión Inmueble</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'root/styles/bootstrap-4.1.2/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'usuarios/images/icons/logo-png.png' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'usuarios/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'usuarios/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'usuarios/css/util.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'usuarios/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>

	<div class="limiter">
		<div class="container-login100" style="background-image: url({% static 'usuarios/images/bg.jpg' %});width: 100%;">
			<div class="wrap-login100">
                <span class="login100-form-logo">
                    <a href="/">
                        <center>
                            <img style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;" unselectable="on" onselectstart="return false;" onmousedown="return false;" src="{% static 'usuarios/images/icons/logo-png.png' %}" alt="tachyon-logo" height="80%" width="80%">
                        </center>
                    </a>
                </span>
                {% if success %}
                  <div class="alert alert-danger alert-dismissible fade show">
                    <p class="text-center">{{ success }}</p>
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                  </div> <!-- Cerrar alert danger -->
                {% endif %}
                {% if error %}
                  <div class="alert alert-warning alert-dismissible fade show">
                    <p class="text-center">{{ error }}</p>
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                  </div> <!-- Cerrar alert warning -->
                {% endif %}
                <span class="login100-form-title p-b-34 p-t-27" style="font-size: 20px;">
                    El correo para recuperar la contraseña ha sido enviado
                </span>

			</div>
		</div>
	</div>
