{% extends 'root/base.html' %}
{% load static %}

{% block optionalCSS %}

{% endblock %}


{% block content %}

<div class="content-top-margin">

<div class="featured content-top-margin" style="margin-top:10px;">
    <div class="container">
        <h1>Perfil: {{ user.user.email }}</h1>
        <br>
        {% if request.user.pk == user.user.pk %}
        <!--Se agrega si el user req es igual al user consultado-->
        <a href="{% url 'edit_user' user.user.pk %}"><button class="btn btn-success" style="float: right;"><i class="fas fa-user-edit"></i> Editar</button></a>
        {% endif %}

        <div class="card">
            <div class="card-body">
                <h3>Información de {{ user.nombre }} {{ user.apellido_paterno }} {{ user.apellido_materno }}</h3>
                <hr>
                <div class="row" style="padding-top: 15px;">
                    <div class="col-12 col-md-6 col-lg-4">
                        <h4>Nombre completo</h4>
                        <p>{{ user.nombre }} {{ user.apellido_paterno }} {{ user.apellido_materno }}</p>
                    </div>
                   <div class="col-12 col-md-6 col-lg-4">
                        <h4>Rol</h4>
                        <p>{{ user.rol.nombre }}</p>
                   </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <h4>Teléfono</h4>
                        <p>{{ user.telefono }}</p>
                    </div>
                </div>
                <div class="row" style="padding-top: 50px;">
                    <div class="col-12 col-md-6 col-lg-4">
                        <h4>Correo electrónico</h4>
                        <p>{{ user.user.email }}</p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <h4>Nombre de agencia</h4>
                        {% if user.nombre_agencia %}
                        <p>{{ user.nombre_agencia }}</p>
                        {% else %}
                        <p>No proporcionado</p>
                        {% endif %}
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <h4>Número de agencia</h4>
                        {% if user.numero_agencia %}
                        <p>{{ user.numero_agencia }}</p>
                        {% else %}
                        <p>No proporcionado</p>
                        {% endif %}
                    </div>
                </div>
                <div class="row" style="padding-top: 50px;">
                    <div class="col-12 col-md-6 col-lg-4">
                        <h4>Estado</h4>
                        {% if user.estado %}
                        <p>{{ user.estado }}</p>
                        {% else %}
                        <p>No proporcionado</p>
                        {% endif %}
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <h4>Estado de registro</h4>
                        {% if user.estado_registro %}
                        <p>Verificado</p>
                        {% else %}
                        <p>No verificado</p>
                        {% endif %}
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <h4>Estado de actividad</h4>
                        {% if user.estado_eliminado %}
                        <p>Eliminado</p>
                        {% else %}
                        <p>Activo</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>
<br><br><br>
</div>




{% endblock content %}


{% block optionalJS %}
<script type="text/javascript" src="{% static 'usuarios/js/navbar_perfil.js' %}"></script>

<script type="text/javascript">
    checkNotificationSession();
</script>

{% endblock %}
