{% extends 'root/base.html' %}
{% load static %}

{% block optionalCSS %}
<link rel="stylesheet" type="text/css" href="{% static 'usuarios/css/lista.css' %}">
{% endblock %}

{% block content %}
<div class="featured content-top-margin">
  <div class="container">
    <br><br>
    <div class="table-responsive">
      <table class="table user-list" id="lista-propiedades">
        <thead>
          <tr>
            <th><span>Propiedad</span></th>
            <th><span>Oferta</span></th>
            <th><span>Precio</span></th>
            <th><span>Estado</span></th>
            <th><span>Revisor</span></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for p in list %}
            <tr id="row-{{ p.pk }}">
              <td>
                <img src="{{ p.portada.url }}" alt="Portada de Propiedad" style="max-width: 100px;">
                <a href="/propiedades/property/{{ p.pk }}" class="user-link" style="max-width: 200px;">{{ p.titulo }}</a>
                <span class="user-subhead">{{ p.tipo }}</span>
              </td>
              <td>
                {{ p.oferta }}
              </td>
              <td id="precio">
                {{ p.precio }}
              </td>
              <td id="status">
                {% if p.estado_revision %}
                  {% if p.estado_activo %}
                    <span class="badge badge-pill badge-success">Publicada</span>
                  {% else %}
                    <span class="badge badge-pill badge-info">En Revisión</span>
                  {% endif %}
                {% else %}
                  <span class="badge badge-pill badge-danger">No Publicada</span>
                {% endif %}
              </td>
              <td>
                {% if p.revisor is None %}
                    Ningún revisor asignado
                {% else %}
                    <img src="{% static 'root/images/user.png' %}" alt="Ícono de usuario">
                    <a href="#" class="user-link">{{ p.revisor.nombre }} {{ p.revisor.apellido_paterno }} {{p.revisor.apellido_materno }}</a>
                    <span class="user-subhead">{{ p.revisor.rol.nombre }}</span>
                {% endif %}
              </td>
              <td id="icons" style="width: 15%;">
                {% if not p.estado_revision %}
                  <a href="#" class="table-link success" onclick="validar_propiedad({{ p.pk }})" data-toggle="modal" data-target="#validate-property">
                    <span class="fa-stack">
                      <i class="fa fa-square fa-stack-2x"></i>
                      <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                {% endif %}
                <a href="#" class="table-link">
                  <span class="fa-stack">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fas fa-pencil-alt fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
                <a href="#" class="table-link danger" onclick="" data-toggle="modal" data-target="">
                  <span class="fa-stack">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fas fa-trash fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% include './modals/validate-property.html' %}

{% endblock content %}

{% block optionalJS %}
<script type="text/javascript">
    checkNotificationSession();
</script>
<script type="text/javascript" src="{% static 'propiedades/js/table.js' %}"></script>
<script type="text/javascript" src="{% static 'propiedades/js/navbar.js' %}"></script>
<script type="text/javascript" src="{% static 'propiedades/js/borrar.js' %}"></script>
<script type="text/javascript" src="{% static 'propiedades/js/validar.js' %}"></script>
{% endblock %}
