{% extends 'root/base.html' %}
{% load static %}

{% block optionalCSS %}
<link rel="stylesheet" type="text/css" href="{% static 'usuarios/css/lista.css' %}">
{% endblock %}

{% block content %}
<div class="featured content-top-margin">
  <div class="container">
    {% if 'registrar_propiedad' in request.session.permissions %}
      <a href="/propiedades/newProperty"><button class="btn btn-success" style="float: right; margin-top: 25px; margin-bottom: 25px;"><i class="fas fa-plus"></i> Añadir Propiedad</button></a>
    {% endif %}
    <br><br>
    <div class="table-responsive">
      <table class="table user-list" id="lista-propiedades">
        <thead>
          <tr>
            <th><span>Propiedad</span></th>
            <th><span>Oferta</span></th>
            <th><span>Precio</span></th>
            <th><span>Estado</span></th>
            <th><span>Visitas</span></th>
            <th><span>Fecha de Corte</span></th>  <!-- class="text-center" -->
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for p in list %}
          <tr id="row-{{ p.pk }}">
            <td>
              <img src="{{ p.portada.url }}" alt="Portada de Propiedad" style="max-width: 100px;">
              <a href="#" class="user-link">{{ p.titulo }}</a>
              <span class="user-subhead">{{ p.tipo }}</span>
            </td>
            <td>
              {{ p.oferta }}
            </td>
            <td id="precio">
              {{ p.precio }}
            </td>
            <td id="status">
              {% if p.estado_activo %}
                <span class="badge badge-pill badge-success">Publicada</span>
              {% else %}
                <span class="badge badge-pill badge-danger">No Publicada</span>
              {% endif %}
            </td>
            <td>
              <span>{{ p.visitas }}</span>
            </td>
            <td>
              {% if p.fecha_corte != None %}
                {{ p.fecha_corte }}
              {% else %}
                No Aplica
              {% endif %}
            </td>
            <td id="icons" style="width: 20%;">
              <a href="#" class="table-link info">
                <span class="fa-stack">
                  <i class="fa fa-square fa-stack-2x"></i>
                  <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                </span>
              </a>
              <a href="#" class="table-link">
                <span class="fa-stack">
                  <i class="fa fa-square fa-stack-2x"></i>
                  <i class="fas fa-pencil-alt fa-stack-1x fa-inverse"></i>
                </span>
              </a>
              <a href="#" class="table-link danger" onclick="" data-toggle="modal" data-target="">
                <span class="fa-stack">
                  <i class="fa fa-square fa-stack-2x"></i>
                  <i class="fas fa-trash fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock content %}

{% block optionalJS %}
<script type="text/javascript">
    checkNotificationSession();
</script>
<script type="text/javascript" src="{% static 'propiedades/js/table.js' %}"></script>
<script type="text/javascript" src="{% static 'propiedades/js/misPropiedades.js' %}"></script>
<script type="text/javascript" src="{% static 'propiedades/js/navbar.js' %}"></script>
<script type="text/javascript" src="{% static 'usuarios/js/borrar.js' %}"></script>
{% endblock %}
