{% extends 'root/base.html' %}
{% load static %}

{% block optionalCSS %}
<link rel="stylesheet" type="text/css" href="{% static 'usuarios/css/lista.css' %}">
{% endblock %}

{% block content %}
<div class="featured content-top-margin">
  <div class="container">
    {% if 'registrar_propiedad' in request.session.permissions %}
      <a href="/propiedades/newProperty"><button class="btn btn-success" style="float: right; margin-top: 25px; margin-bottom: 25px;"><i class="fas fa-plus"></i> Añadir Propiedad</button></a>
    {% endif %}
    <br><br>
    <div class="table-responsive">
      <table class="table user-list" id="lista-usuarios">
        <thead>
          <tr>
            <th><span>Usuario</span></th>
            <th><span>Creado</span></th>
            <th><span>Estado</span></th>  <!-- class="text-center" -->
            <th><span>Email</span></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for t in tachyons %}
          <tr id="row-{{ t.pk }}">
            <td>
              <img src="{% static 'root/images/user.png' %}" alt="Ícono de usuario">
              <a href="#" class="user-link">{{ t.nombre }} {{ t.apellido_paterno }} {{t.apellido_materno }}</a>
              <span class="user-subhead">{{ t.rol.nombre }}</span>
            </td>
            <td>
              {{ t.user.date_joined }}
            </td>
            <td id="status">
              {% if t.estado_registro %}
                {% if t.estado_eliminado %}
                  <span class="badge badge-pill badge-danger">Eliminado</span>
                {% else %}
                  <span class="badge badge-pill badge-success">Activo</span>
                {% endif %}
              {% else %}
                <span class="badge badge-pill badge-secondary">Pendiente</span>
              <!-- <span class="badge badge-pill badge-warning">Bloqueado</span> -->
              {% endif %}
            </td>
            <td>
              <span>{{ t.user.email }}</span>
            </td>
            <td id="icons" style="width: 20%;">
              <a href="#" class="table-link info">
                <span class="fa-stack">
                  <i class="fa fa-square fa-stack-2x"></i>
                  <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                </span>
              </a>
              <a href="#" class="table-link">
                <span class="fa-stack">
                  <i class="fa fa-square fa-stack-2x"></i>
                  <i class="fas fa-pencil-alt fa-stack-1x fa-inverse"></i>
                </span>
              </a>
              {% if t.estado_eliminado %}
                <a href="#" class="table-link success" onclick="borrar_usuario({{ t.pk }})" data-toggle="modal" data-target="#restore-user">
                  <span class="fa-stack">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fas fa-trash-restore fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              {% else %}
              <a href="#" class="table-link danger" onclick="borrar_usuario({{ t.pk }})" data-toggle="modal" data-target="#delete-user">
                <span class="fa-stack">
                  <i class="fa fa-square fa-stack-2x"></i>
                  <i class="fas fa-trash fa-stack-1x fa-inverse"></i>
                </span>
              </a>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock content %}

{% block optionalJS %}
<script type="text/javascript">
    checkNotificationSession();
</script>
<script type="text/javascript" src="{% static 'usuarios/js/table.js' %}"></script>
<script type="text/javascript" src="{% static 'propiedades/js/navbar.js' %}"></script>
<script type="text/javascript" src="{% static 'usuarios/js/borrar.js' %}"></script>
{% endblock %}
