{% extends 'root/base.html' %}
{% load static %}



{% block optionalCSS %}
    <!-- Vendor CSS-->
    <link href="{% static 'usuarios/styles/vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'usuarios/fonts/iconic/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'usuarios/styles/vendor/datepicker/daterangepicker.css' %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static 'usuarios/styles/main.css' %}" rel="stylesheet" media="all">

    <!-- Formas CSS-->
    <link href="{% static 'propiedades/css/forms.css' %}" rel="stylesheet" media="all">

    <!--Button CSS -->
    <link href="{% static 'usuarios/stylesButton/main.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'usuarios/stylesButton/util.css' %}" rel="stylesheet" media="all">
{% endblock %}


{% block content %}


<div class="page-wrapper bg-gra-01 p-t-130 p-b-100 font-poppins">
    <div class="wrapper wrapper--w680" style="max-width: 900px;">
        <div class="card card-4" style="margin-top: 50px;">
            <div class="card-body">
                <h1 class="text-center">Nueva Propiedad</h1>
                <form id="form" class="needs-validation" novalidate> <!-- method="POST" action="/propiedades/createProperty/ enctype="multipart/form-data"" -->
                    {% csrf_token %}
                    <div class="row row-space">
                        <div class="col-12">
                            <div class="input-group">
                                <label class="label">Título</label>
                                <input class="input--style-4 form-control validacion" type="text" name="titulo" id="titulo" pattern=".{1,}" required>
                                <div class="valid-feedback">
                                    ¡Correcto!
                                </div>
                                <div class="invalid-feedback">
                                    Por favor, ingrese el título de la propiedad.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-12">
                            <label class="label">Descripción</label>
                            <textarea class="input--style-4 form-control areatexto" type="text" name="desc" id="desc" pattern=".{1,}" required></textarea>
                            <div class="valid-feedback">
                                ¡Correcto!
                            </div>
                            <div class="invalid-feedback">
                                Por favor, ingrese una descripción para su propiedad.
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row row-space">
                        <div class="col-6">
                            <label class="label">Tipo de Oferta</label>
                            <div class="rs-select2 js-select-simple select--no-search">
                                <select class="form-control" id="oferta" name="oferta" required>
                                    <option disabled="disabled" value="" selected="selected">Seleccione un tipo de oferta...</option>
                                    <option>Venta</option>
                                    <option>Renta</option>
                                </select>
                                <div class="select-dropdown"></div>
                                <div class="valid-feedback">
                                    ¡Correcto!
                                </div>
                                <div class="invalid-feedback">
                                    Por favor, seleccione un tipo de oferta.
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <label class="label">Tipo de Propiedad</label>
                            <div class="rs-select2 js-select-simple select--no-search">
                                <select class="form-control" name="tipo" id="tipo" required>
                                    <option disabled="disabled" value="" selected="selected">Seleccione un tipo de propiedad...</option>
                                    <option>Bodega Comercial</option>
                                    <option>Bodega Industrial</option>
                                    <option>Casa</option>
                                    <option>Consultorio</option>
                                    <option>Cuartos</option>
                                    <option>Departamento</option>
                                    <option>Edificio</option>
                                    <option>Local</option>
                                    <option>Nave Industrial</option>
                                    <option>Oficina</option>
                                    <option>Rancho</option>
                                    <option>Terreno Comercial</option>
                                    <option>Terreno Habitacional</option>
                                    <option>Terreno Industrial</option>
                                </select>
                                <div class="select-dropdown"></div>
                                <div class="valid-feedback">
                                    ¡Correcto!
                                </div>
                                <div class="invalid-feedback">
                                    Por favor, seleccione el tipo de propiedad.
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                        <div class="row row-space">
                          <div id="div_hab" class="col-6" hidden>
                              <div class="input-group">
                                  <label class="label">Cantidad de Habitaciones</label>
                                  <input class="input--style-4 form-control validacion" type="number" name="habs" id="habs" min=0 onchange="positivo(this.id, this.value); decimal(this.id, this.value);">
                                  <div class="valid-feedback">
                                      ¡Correcto!
                                  </div>
                                  <div class="invalid-feedback">
                                      Por favor, ingrese la cantidad de habitaciones de su propiedad.
                                  </div>
                              </div>
                          </div>
                          <div id="div_banos" class="col-6" hidden>
                              <div class="input-group">
                                  <label class="label">Cantidad de Baños</label>
                                  <input class="input--style-4 form-control validacion" type="text" name="banos" id="banos" pattern=".{1,}" onchange="numero(this.id, this.value);">
                                  <div class="valid-feedback">
                                      ¡Correcto!
                                  </div>
                                  <div class="invalid-feedback">
                                      Por favor, ingrese la cantidad de baños de su propiedad.
                                  </div>
                              </div>
                          </div>
                          <div id="div_pisos" class="col-6" hidden>
                              <div class="input-group">
                                  <label class="label">Piso / Número de Pisos</label>
                                  <input class="input--style-4 form-control validacion" type="number" name="pisos" id="pisos" min=1 onchange="positivo(this.id, this.value); decimal(this.id, this.value);">
                                  <div class="valid-feedback">
                                      ¡Correcto!
                                  </div>
                                  <div class="invalid-feedback">
                                      Por favor, ingrese la cantidad de pisos/el piso de su propiedad.
                                  </div>
                              </div>
                          </div>
                          <div id="div_est" class="col-6" hidden>
                              <div class="input-group">
                                  <label class="label">Lugares de Estacionamiento</label>
                                  <input class="input--style-4 form-control validacion" type="number" name="garaje" id="garaje" min=0 onchange="positivo(this.id, this.value); decimal(this.id, this.value);">
                                  <div class="valid-feedback">
                                      ¡Correcto!
                                  </div>
                                  <div class="invalid-feedback">
                                      Por favor, ingrese la cantidad de lugares de estacionamiento.
                                  </div>
                              </div>
                          </div>
                        </div>
                    <div class="row row-space">
                        <div class="col-6">
                            <div class="input-group">
                                <label class="label">Metros de Terreno</label>
                                <input class="input--style-4 form-control validacion" type="text" name="m_terr" id="m_terr" pattern=".{1,}" onchange="numero(this.id, this.value);" required>
                                <div class="valid-feedback">
                                    ¡Correcto!
                                </div>
                                <div class="invalid-feedback">
                                    Por favor, ingrese los metros cuadrados de su terreno.
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group">
                                <label class="label">Metros de Construcción</label>
                                <input class="input--style-4 form-control validacion" type="text" name="m_cons" id="m_cons" pattern=".{1,}" onchange="numero(this.id, this.value);" required>
                                <div class="valid-feedback">
                                    ¡Correcto!
                                </div>
                                <div class="invalid-feedback">
                                    Por favor, ingrese los metros cuadrados de construcción.
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <label class="label">Otros:</label>
                    <div class="row row-space">
                      <div class="col-4">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="A-C" value="A/C" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px;">A/C</label>
                        </div>
                      </div>
                      <div class="col-4 terreno" style="display: none;">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="Agua" value="Agua" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px;">Agua</label>
                        </div>
                      </div>
                      <div class="col-4 bodega" style="display: none;">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="AguaPotable" value="Agua Potable" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px;">Agua Potable</label>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="Alberca" value="Alberca" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px;">Alberca</label>
                        </div>
                      </div>
                      <div class="col-4 bodega" style="display: none;">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="AltoVoltaje" value="Alto Voltaje" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px;">Alto Voltaje</label>
                        </div>
                      </div>
                      <div class="col-4 mueble" style="display: none;">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="Amueblados" value="Amueblados" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px;">Amueblados</label>
                        </div>
                      </div>
                      <div class="col-4 bodega" style="display: none;">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="AndénTráiler" value="Andén Tráiler" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px;">Andén Tráiler</label>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="Asador" value="Asador" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px;">Asador</label>
                        </div>
                      </div>
                      <div class="col-4 bodega" style="display: none;">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="BañosObreros" value="Baños Obreros" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px;">Baños Obreros</label>
                        </div>
                      </div>
                      <div class="col-4 bodega" style="display: none;">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="BañosOficina" value="Baños Oficina" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px;">Baños Oficina</label>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="Bar" value="Bar" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px;">Bar</label>
                        </div>
                      </div>
                      <div class="col-4 bodega" style="display: none;">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="Báscula" value="Báscula" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px;">Báscula</label>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="Calefacción" value="Calefacción" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px;">Calefacción</label>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="Chimenea" value="Chimenea" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px;">Chimenea</label>
                        </div>
                      </div>
                      <div class="col-4 cisterna" style="display: none;">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="Cisterna" value="Cisterna" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px;">Cisterna</label>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="ClubDeportivo" value="Club Deportivo" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px;">Club Deportivo</label>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="CocinaIntegral" value="Cocina Integral" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px;">Cocina Integral</label>
                        </div>
                      </div>
                      <div class="col-4 oficina" style="display: none;">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="Conmutador" value="Conmutador" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px;">Conmutador</label>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="CuartodeServicio" value="Cuarto de Servicio" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px;">Cuarto de Servicio</label>
                        </div>
                      </div>
                      <div class="col-4 elevador" style="display: none;">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="Elevador" value="Elevador" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px;">Elevador</label>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="Estudio" value="Estudio" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px;">Estudio</label>
                        </div>
                      </div>
                      <div class="col-4 terreno" style="display: none;">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="Gas" value="Gas" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px;">Gas</label>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="Hidroneumático" value="Hidroneumático" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px;">Hidroneumático</label>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="Jacuzzi" value="Jacuzzi" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px;">Jacuzzi</label>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="Jardín" value="Jardín" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px;">Jardín</label>
                        </div>
                      </div>
                      <div class="col-4 terreno" style="display: none;">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="Luz" value="Luz" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px;">Luz</label>
                        </div>
                      </div>
                      <div class="col-4 bodega" style="display: none;">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="Oficinas" value="Oficinas" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px;">Oficinas</label>
                        </div>
                      </div>
                      <div class="col-4 oficina" style="display: none;">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="PlantaEléctrica" value="Planta Eléctrica" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px;">Planta Eléctrica</label>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="Privada" value="Privada" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px;">Privada</label>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="SaladeJuegos" value="Sala de Juegos" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px;">Sala de Juegos</label>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="SaladeTV" value="Sala de TV" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px;">Sala de TV</label>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="Teléfono" value="Teléfono" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px;">Teléfono</label>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="Vigilancia" value="Vigilancia" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px;">Vigilancia</label>
                        </div>
                      </div>
                      <div class="col-4 bodega" style="display: none;">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="Voltaje110" value="Voltaje 110" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px;">Voltaje 110</label>
                        </div>
                      </div>
                      <div class="col-4 bodega" style="display: none;">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="Voltaje220" value="Voltaje 220" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px;">Voltaje 220</label>
                        </div>
                      </div>
                      <div class="col-4 rancho" style="display: none;">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="ZonadeÁrboles" value="Zona de Árboles" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px;">Zona de Árboles</label>
                        </div>
                      </div>
                    </div>
                    <br>
                    <br>
                    <label class="label">Restricciones:</label>
                    <div class="row row-space">
                      <div class="col-4">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="rest[]" id="NoMascotas" value="No Mascotas" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px;">No Mascotas</label>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="rest[]" id="NoNiños" value="No Niños" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px;">No Niños</label>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="rest[]" id="ParaEjecutivos" value="Para Ejecutivos" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px;">Para Ejecutivos</label>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="rest[]" id="SóloFamilias" value="Sólo Familias" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px;">Sólo Familias</label>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row row-space">
                        <div class="col-6">
                            <label class="label">País</label>
                            <div class="rs-select2 js-select-simple select--no-search">
                                <select class="form-control" name="pais" required>
                                    <option disabled="disabled" value="" selected="selected">Seleccione un país...</option>
                                    <option>México</option>
                                </select>
                                <div class="select-dropdown"></div>
                                <div class="valid-feedback">
                                    ¡Correcto!
                                </div>
                                <div class="invalid-feedback">
                                    Por favor, seleccione el país donde se encuentra su propiedad.
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="input-group">
                                <label class="label">Código Postal</label>
                                <input class="input--style-4 form-control validacion" type="text" name="codigo_postal" id="codigo_postal" pattern=".{5,5}" onkeyup="numero(this.id, this.value); cp_hidden();" required>
                                <div class="valid-feedback">
                                    ¡Correcto!, recuerde validar su código postal.
                                </div>
                                <div class="invalid-feedback">
                                    Por favor, ingrese el código postal de su propiedad.
                                </div>
                            </div>
                        </div>
                        <input class="input--style-4 form-control" type="text" name="cp_safe" id="cp_safe" pattern=".{6,}" required hidden>
                        <div class="col-2">
                          <button type="button" class="btn btn-secondary" id="checar" style="margin-top: 33px;" onclick="validar_cp()">Validar</button>
                        </div>
                    </div>
                    <div id="ubicacion" hidden>
                        <div class="row row-space">
                            <div class="col-6">
                                <div class="input-group">
                                    <label class="label">Estado</label>
                                    <input class="input--style-4 form-control validacion" type="text" name="estado" id="estado" readonly required>
                                    <div class="valid-feedback">
                                        ¡Correcto!
                                    </div>
                                    <div class="invalid-feedback">
                                        Por favor, ingrese el estado donde se encuentra su propiedad.
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <label class="label">Colonia</label>
                                <div class="rs-select2 js-select-simple select--no-search">
                                    <select class="form-control" name="colonia" id="colonia" required>
                                        <option disabled="disabled" value="" selected="selected">Seleccione una colonia...</option>
                                    </select>
                                    <div class="select-dropdown"></div>
                                    <div class="valid-feedback">
                                        ¡Correcto!
                                    </div>
                                    <div class="invalid-feedback">
                                        Por favor, seleccione la colonia de su propiedad.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-12">
                            <div class="input-group">
                                <label class="label">Dirección</label>
                                <input class="input--style-4 form-control validacion" type="text" name="direccion" id="direccion" pattern=".{1,}" required>
                                <div class="valid-feedback">
                                    ¡Correcto!
                                </div>
                                <div class="invalid-feedback">
                                    Por favor, ingrese la dirección exacta de su propiedad.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-md-6 col-lg-6 col-sm-12">
                            <div class="input-group">
                                <label class="label">Precio</label>
                                <input class="input--style-4 form-control validacion" type="text" name="precio" id="precio" pattern=".{1,}" onchange="numero(this.id, this.value);" required>
                                <div class="valid-feedback">
                                    ¡Correcto!
                                </div>
                                <div class="invalid-feedback">
                                    Por favor, ingrese el precio de su propiedad.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-lg-5 col-sm-12 align-self-center offset-md-1 offset-lg-1">
                            <div class="input-group" style="margin-top: 20px;">
                                <label class="label" for="negociable">¿Precio Negociable?</label>
                                <input class="checkmark" type="checkbox" name="negociable" id="negociable" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-12">
                            <div class="input-group">
                                <label class="label">Datos Extra/Información Importante</label>
                                <input class="input--style-4" type="text" name="dif" id="dif">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row row-space">
                        <div class="col-12">
                            <label class="label">Foto de Portada</label>
                            <div class="custom-file">
                                <label class="custom-file-label" id="file-label-1">Selecciona tu archivo...</label>
                                {{ form.portada }}
                                <div class="valid-feedback">
                                    ¡Correcto!
                                </div>
                                <div class="invalid-feedback">
                                    Por favor, seleccione una imagen de portada.
                                </div>
                                <img id="prtd" alt="Portada" width="100" height="100" style="margin: 15px; margin-bottom: 100px;" hidden />
                            </div>
                        </div>
                    </div>
                    <br>
                    <input class="input--style-4 form-control" type="text" name="safe" id="safe" pattern=".{6,}" required hidden>
                    <div class="row row-space">
                        <div class="col-12">
                            <label class="label" id="tipo_prop">Fotos de la Propiedad</label>
                            <div class="w-100"></div>
                            <label class="label" id="fotos_prop" style="font-size: 12px;"></label>
                            <div class="custom-file">
                                <label class="custom-file-label" id="file-label-2">Selecciona tus archivos...</label>
                                {{ form.extra }}
                                <div class="valid-feedback">
                                    ¡Correcto!
                                </div>
                                <div class="invalid-feedback">
                                    Por favor, seleccione un número de imagenes dentro del rango indicado.
                                </div>
                                <div id="xtr">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row row-space" style="margin-top: 30px;">
                        <div class="col-12">
                            <div class="input-group">
                                <label class="label">Enlace de Video (YouTube)</label>
                                <div class="w-100"></div>
                                <label class="label" style="font-size: 12px;">(Sube tu video previamente a YouTube y coloca el enlace aquí.)</label>
                                <input class="input--style-4" type="text" name="video" id="video" onchange="val_video(this.value);">
                                <input class="input--style-4 form-control" value="Qwerty" type="text" name="safe_vid" id="safe_vid" pattern=".{6,}" required hidden>
                                <div class="valid-feedback">
                                    ¡Correcto!
                                </div>
                                <div class="invalid-feedback">
                                    Por favor, ingrese un enlace de video válido.
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="container-login100-form-btn">
            						<button class="login100-form-btn" id="submit" onclick="validate_files();">
            							<span style='font-size:35px;'>&#10142;</span> <!-- main.css línea 425 -->
            						</button>
					          </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

{% block optionalJS %}

<script type="text/javascript">
    checkNotificationSession()
</script>

<!-- Vendor JS-->
<script src="{% static 'usuarios/js/vendor/select2/select2.min.js' %}"></script>
<script src="{% static 'usuarios/js/vendor/datepicker/moment.min.js' %}"></script>
<script src="{% static 'usuarios/js/vendor/datepicker/daterangepicker.js' %}"></script>

<!-- Main JS-->
<script src="{% static 'usuarios/js/global.js' %}"></script>

<!-- Button JS -->
<script src="{% static 'usuarios/jsButton/main.js' %}"></script>

<!-- Contrasena JS -->
<script src="{% static 'propiedades/js/crearPropiedad.js' %}"></script>

<script type="text/javascript" src="{% static 'propiedades/js/navbar.js' %}"></script>

{% endblock %}
