{% extends 'root/base.html' %}
{% load static %}

{% block optionalCSS %}
<link href="{% static 'root/plugins/colorbox/colorbox.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{% static 'root/styles/single.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'root/styles/single_responsive.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'propiedades/css/swiper.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'propiedades/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'propiedades/css/lightbox.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'propiedades/css/buttons.css' %}">
{% if revisor %}
	<link href="{% static 'propiedades/css/forms.css' %}" rel="stylesheet" media="all">
{% endif %}
{% endblock %}

{% block content %}

<div class="content-top-margin">
	<!-- Search -->
	<div class="search">
	  <div class="container">
	    <div class="row">
	      <div class="col">
	        <div class="search_container">
	          <div class="search_form_container">
	            <form action="/propiedades" class="search_form" id="search_form">
	              <div class="d-flex flex-lg-row flex-column align-items-start justify-content-lg-between justify-content-start">
	                  <div class="search_inputs d-flex flex-lg-row flex-column align-items-start justify-content-lg-between justify-content-start">
	                        <select class="form-control search_input" name="tipo" id="tipo">
	                          <option value="" selected="selected">Tipo de propiedad</option>
	                          <option value="casa">Casa</option>
	                          <option value="departamento">Departamento</option>
	                          <option value="edificio">Edificio</option>
	                          <option value="local">Local</option>
	                          <option value="terreno">Terreno</option>
	                        </select>

	                          <select class="form-control search_input" name="oferta" id="oferta">
	                            <option disabled="disabled" value="" selected="selected">Tipo de oferta</option>
	                            <option value="venta">Venta</option>
	                            <option value="renta">Renta</option>
	                        </select>
	                        <select class="form-control search_input" name="estado" id="estado">
	                          <option disabled="disabled" value="" selected="selected">Estado</option>
	                          <option value="Aguascalientes">Aguascalientes</option>
	                          <option value="Baja California">Baja California</option>
	                          <option value="Baja California Sur">Baja California Sur</option>
	                          <option value="Campeche">Campeche</option>
	                          <option value="Chiapas">Chiapas</option>
	                          <option value="Chihuahua">Chihuahua</option>
	                          <option value="CDMX">Ciudad de México</option>
	                          <option value="Coahuila">Coahuila</option>
	                          <option value="Colima">Colima</option>
	                          <option value="Durango">Durango</option>
	                          <option value="Estado de México">Estado de México</option>
	                          <option value="Guanajuato">Guanajuato</option>
	                          <option value="Guerrero">Guerrero</option>
	                          <option value="Hidalgo">Hidalgo</option>
	                          <option value="Jalisco">Jalisco</option>
	                          <option value="Michoacán">Michoacán</option>
	                          <option value="Morelos">Morelos</option>
	                          <option value="Nayarit">Nayarit</option>
	                          <option value="Nuevo León">Nuevo León</option>
	                          <option value="Oaxaca">Oaxaca</option>
	                          <option value="Puebla">Puebla</option>
	                          <option value="Querétaro">Querétaro</option>
	                          <option value="Quintana Roo">Quintana Roo</option>
	                          <option value="San Luis Potosí">San Luis Potosí</option>
	                          <option value="Sinaloa">Sinaloa</option>
	                          <option value="Sonora">Sonora</option>
	                          <option value="Tabasco">Tabasco</option>
	                          <option value="Tamaulipas">Tamaulipas</option>
	                          <option value="Tlaxcala">Tlaxcala</option>
	                          <option value="Veracruz">Veracruz</option>
	                          <option value="Yucatán">Yucatán</option>
	                          <option value="Zacatecas">Zacatecas</option>
	                      </select>
	                  </div>
	                  <button class="search_button">Buscar propiedad</button>
	                </div>
	              </form>
	          </div>

	          <!--
	          <div class="extra_search_buttons d-flex flex-row align-items-start justify-content-start">
	            <div class="extra_search_button search_button_1"><a href="#">Detailed Search</a></div>
	            <div class="extra_search_button search_button_2"><a href="#">Show Map</a></div>
	          </div>
	          -->

	        </div>
	      </div>
	    </div>
	  </div>
	</div>

	<!-- Listing -->

	<div id="portada" class="listing_container">
		<div class="container">
			<div class="row">
				<div class="col">

					<!-- Image -->
					<div class="listing_image"><img src="{{ property.portada.url }}" alt="Listing" style="width: 100%"></div>

					<!-- Tabs -->
					<div class="listing_tabs d-flex flex-row align-items-start justify-content-between flex-wrap">

						<!-- Tab -->
						<div class="tab">
							<input type="radio" class="button_active" onclick="location.href='#portada';" id="tab_1" name="listing_tabs" checked>
							<label for="tab_1"></label>
							<div class="tab_content d-flex flex-xl-row flex-column align-items-center justify-content-center">
								<div class="tab_icon"><img src="{% static 'root/images/house.svg' %}" class="svg" alt="tab icon"></div>
								<span>Portada</span>
							</div>
						</div>

						<!-- Tab -->
						<div class="tab">
							<input type="radio" class="button_active" onclick="location.href='#detalles';"id="tab_2" name="listing_tabs">
							<label for="tab_2"></label>
							<div class="tab_content d-flex flex-xl-row flex-column align-items-center justify-content-center">
								<div class="tab_icon"><img src="{% static 'root/images/houses.svg' %}" class="svg" alt="tab icon"></div>
								<span>Detalles</span>
							</div>
						</div>

						<!-- Tab -->
						<div class="tab">
							<input type="radio" class="button_active" onclick="location.href='#fotos';" id="tab_3" name="listing_tabs">
							<label for="tab_3"></label>
							<div class="tab_content d-flex flex-xl-row flex-column align-items-center justify-content-center">
								<div class="tab_icon"><img src="{% static 'root/images/house2.svg' %}" class="svg" alt="tab icon"></div>
								<span>Fotos</span>
							</div>
						</div>

						<!-- Tab -->
						<div class="tab">
							<input type="radio" class="button_active" onclick="location.href='#video';" id="tab_4" name="listing_tabs">
							<label for="tab_4"></label>
							<div class="tab_content d-flex flex-xl-row flex-column align-items-center justify-content-center">
								<div class="tab_icon"><img src="{% static 'root/images/camera.svg' %}" class="svg" alt="tab icon"></div>
								<span>Video</span>
							</div>
						</div>

						<!-- Tab -->
						<div class="tab">
							<input type="radio" class="button_active" onclick="location.href='#ubicacion';" id="tab_6" name="listing_tabs">
							<label for="tab_6"></label>
							<div class="tab_content d-flex flex-xl-row flex-column align-items-center justify-content-center">
								<div class="tab_icon"><img src="{% static 'root/images/location.svg' %}" class="svg" alt="tab icon"></div>
								<span>Ubicación</span>
							</div>
						</div>

						<!-- Tab -->
						<div class="tab">
							<input type="radio" class="button_active" onclick="location.href='#contacto';" id="tab_7" name="listing_tabs">
							<label for="tab_7"></label>
							<div class="tab_content d-flex flex-xl-row flex-column align-items-center justify-content-center">
								<div class="tab_icon"><img src="{% static 'root/images/contract.svg' %}" class="svg" alt="tab icon"></div>
								<span>Contacto</span>
							</div>
						</div>

					</div>

					{% if revisor %}
						<form method="POST" action="/propiedades/modifyPropertyReviewer/{{ property.pk }}" class="needs-validation" novalidate>
						{% csrf_token %}
					{% endif %}

					<!-- About -->
					<div class="about">
						<div class="row">
							<div class="col-lg-8">
								<div class="property_info">
									<div class="tag_price listing_price" id="price">{{ property.precio }}</div>
									<div class="listing_name">
										<h1 id="title" style="display: inline;">{{ property.titulo }}</h1>
										{% if revisor %}
											<a id="edit1" href="#a" class="table-link" style="position: relative; bottom: 15px; left: 10px;" onclick="esconder_titulo();">
			                  <span class="fa-stack">
			                    <i class="fa fa-square fa-stack-2x"></i>
			                    <i class="fas fa-pencil-alt fa-stack-1x fa-inverse"></i>
			                  </span>
			                </a>
											<div class="row">
												<div class="col-6">
													<input class="input--style-4 form-control validacion" type="text" name="titulo" id="titulo" pattern=".{1,}" value="{{ property.titulo }}" hidden>
												</div>
												<div class="col-6">
													<div id="cancelar1" class="danger" hidden>
														<a href="#b" onclick="mostrar_titulo();">
						                  <span class="fa-stack">
						                    <i class="fa fa-square fa-stack-2x"></i>
						                    <i class="fas fa-times fa-stack-1x fa-inverse"></i>
						                  </span>
						                </a>
													</div>
												</div>
											</div>
										{% endif %}
									</div>
									<div class="listing_location d-flex flex-row align-items-start justify-content-start">
										<img src="{% static 'root/images/icon_1.png' %}" alt="icon">
										<span>{{ property.direccion }}, {{ property.estado }}, {{ property.codigo_postal }}</span>
									</div>
									<div id="contacto" class="listing_list">
										<ul>
											<li>Propiedad: {{ property.tipo }} ({{ property.oferta }})</li>
											{% if property.negociable %}
											<li>Precio Negociable: Sí</li>
											{% else %}
											<li>Precio Negociable: No</li>
											{% endif %}
											<li>Publicada: {{ property.fecha_creacion.day }} de {{ property.fecha_creacion|date:'F' }} de {{ property.fecha_creacion.year }}</li>
											<!-- <li>Publicada: {{ property.fecha_publicacion }}</li> -->
										</ul>
									</div>
									<div class="prop_agent d-flex flex-row align-items-center justify-content-start">
										<!--<div class="prop_agent_image"><img src="{% static 'root/images/agent_1.jpg' %}" alt="Profile picture"></div>-->
										<div class="prop_agent_image" style="background-color: #70AD47;"></div>
										<div class="prop_agent_name"><a href="#">{{ property.propietario.nombre }} {{ property.propietario.apellido_paterno }} {{ property.propietario.apellido_materno }}</a>, {% if property.propietario.nombre_agencia %} Agente
											Inmobiliario{% else %} Dueño{% endif %}
											<br>
											Teléfono: {{ property.propietario.telefono }}
											<br>
											Correo: {{ property.propietario.user.email }}
											{% if property.propietario.nombre_agencia %}
											<br>
											Agencia: {{ property.propietario.nombre_agencia }}
											{% endif %}
											{% if property.propietario.numero_agencia %}
											<br>
											Teléfono de Agencia: {{ property.propietario.numero_agencia }}
											{% endif %}
										</div>
									</div>
									<div class="prop_info">
										<ul class="d-flex flex-row align-items-center justify-content-start flex-wrap">
											<li class="d-flex flex-row align-items-center justify-content-start">
												<img src="{% static 'root/images/icon_2_large.png' %}" alt="icon">
												<div>
													<div>{{ property.metros_terreno }}</div>
													<div>m<sup>2</sup></div>
												</div>
											</li>
											{% if property.tipo != "Terreno" %}
											<li class="d-flex flex-row align-items-center justify-content-start">
												<img src="{% static 'root/images/icon_3_large.png' %}" alt="icon">
												<div>
													<div>{{ property.banos }}</div>
													<div>baños</div>
												</div>
											</li>
											<li class="d-flex flex-row align-items-center justify-content-start">
												<img src="{% static 'root/images/icon_4_large.png' %}" alt="icon">
												<div>
													<div>{{ property.habitaciones }}</div>
													<div>habitaciones</div>
												</div>
											</li>
											<li class="d-flex flex-row align-items-center justify-content-start">
												<img src="{% static 'root/images/icon_5_large.png' %}" alt="House Image">
												<div>
													<div>{{ property.garaje }}</div>
													<div>lugares de estac.</div>
												</div>
											</li>
											{% endif %}
										</ul>
									</div>
								</div>
							</div>
							<div class="col-lg-4">
								{% if property.diferenciador %}
								<div class="tag_price listing_price" id="dif" style="height: auto;">{{ property.diferenciador }}</div>
								{% if revisor %}
									<a id="edit2" href="#c" class="table-link" style="display: block; float: right;" onclick="esconder_dif();">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fas fa-pencil-alt fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<div class="row">
										<div class="col-9">
											<input class="input--style-4 form-control validacion" type="text" name="difer" id="difer" pattern=".{1,}" value="{{ property.diferenciador }}" hidden>
										</div>
										<div class="col-3">
											<div id="cancelar2" class="danger" hidden>
												<a href="#d" onclick="mostrar_dif();">
													<span class="fa-stack">
														<i class="fa fa-square fa-stack-2x"></i>
														<i class="fas fa-times fa-stack-1x fa-inverse"></i>
													</span>
												</a>
											</div>
										</div>
									</div>
								{% endif %}
								{% endif %}
								<div class="listing_location d-flex flex-row align-items-start justify-content-start">
									<span style="margin-left:0px;margin-top:27px;">Descripción</span>
								</div>
								<div id="des" class="about_text" style="padding-top:27px !important;">
									<p>{{ property.descripcion }}</p>
								</div>
								{% if revisor %}
									<a id="edit3" href="#e" class="table-link" style="display: block; float: right;" onclick="esconder_desc();">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fas fa-pencil-alt fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<div class="row">
										<div class="col-9">
											<textarea class="input--style-4 form-control areatexto" type="text" name="desc" id="desc" pattern=".{1,}" hidden></textarea>
										</div>
										<div class="col-3">
											<div id="cancelar3" class="danger" hidden>
												<a href="#f" onclick="mostrar_desc();">
													<span class="fa-stack">
														<i class="fa fa-square fa-stack-2x"></i>
														<i class="fas fa-times fa-stack-1x fa-inverse"></i>
													</span>
												</a>
											</div>
										</div>
									</div>
								{% endif %}
							</div>

							{% if revisor %}
							<button class="btn btn-primary" style="display: block; margin-right: 0; margin-left:auto;" type="submit">Guardar Cambios</button>
							</form>
							{% endif %}

							<!--fotos-->
							<div id="fotos" class="col-lg-12">
								<div class="swiper-container">
									<div class="swiper-wrapper">
										{% for i in images %}
										<div class="gallery swiper-slide">
											<a href="{{ i.imagen.url }}" data-lightbox="gallery"><img src="{{ i.imagen.url }}" alt=""></a>
										</div>
										{% endfor %}
									</div>
									<!-- Add Pagination -->
									<div class="swiper-pagination"></div>
									<!-- Add Arrows -->
									<div class="swiper-button-next"></div>
									<div class="swiper-button-prev"></div>
								</div>
							</div>
							<!--fotosFin-->
							{% if index != -1 %}
							<div class="col-lg-6">
								<div id="detalles" class="listing_features">
									<div class="listing_title">
										<h3>Detalles</h3>
									</div>
									<div class="row">
										<div class="col-lg-6">
											<ul>
												<li style="height: 55px;">{{ property.habitaciones}} habitacione(s)</li>
												<li style="height: 55px;">{{ property.banos }} baño(s)</li>
												<li style="height: 55px;">{{ property.garaje }} estacionamiento(s)</li>
											</ul>
										</div>
										<div class="col-lg-6">
											<ul>
												<li style="height: 55px;">{{ property.metros_terreno }}m<sup>2</sup> de terreno</li>
												<li style="height: 55px;">{{ property.metros_construccion }}m<sup>2</sup> de construcción</li>
												<li style="height: 55px;">{{ property.pisos }} piso(s)</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div id="video" class="col-lg-6">
								<div class="listing_video">
									<div class="listing_title">
										<h3>Video</h3>
									</div>
									<div class="video_container d-flex flex-column align-items-center justify-content-center">
										<img style="width: 100%; height: 250px;" src="{{ property.portada.url }}" alt="Video Image">
										<div class="video_button"><a class="youtube" href="{{ link }}" SameSite=None Secure><i class="fa fa-play" aria-hidden="true"></i></a></div>
									</div>
								</div>
							</div>
							{% else %}
							<div class="col-lg-12">
								<div id="detalles" class="listing_features">
									<div class="listing_title">
										<h3>Detalles</h3>
									</div>
									<div class="row">
										{% if property.tipo != "Terreno" %}
										<div class="col-lg-6">
											<ul>
												<li style="height: 55px;">{{ property.habitaciones}} habitacione(s)</li>
												<li style="height: 55px;">{{ property.banos }} baño(s)</li>
												<li style="height: 55px;">{{ property.garaje }} estacionamiento(s)</li>
											</ul>
										</div>
										<div class="col-lg-6">
											<ul>
												<li style="height: 55px;">{{ property.metros_terreno }}m<sup>2</sup> de terreno</li>
												<li style="height: 55px;">{{ property.metros_construccion }}m<sup>2</sup> de construcción</li>
												<li style="height: 55px;">{{ property.pisos }} piso(s)</li>
											</ul>
										</div>
										{% else %}
										<div class="col-lg-6">
											<ul>
												<li style="height: 55px;">{{ property.metros_terreno }}m<sup>2</sup> de terreno</li>
											</ul>
										</div>
										<div class="col-lg-6">
											<ul>
												<li style="height: 55px;">{{ property.metros_construccion }}m<sup>2</sup> de construcción</li>
											</ul>
										</div>
										{% endif %}
									</div>
								</div>
							</div>
							{% endif %}
						</div>
					</div>
					<!--
					<div id="ubicacion" class="google_map_container">
							<div class="map">
								<div id="google_map" class="google_map">
									<div class="map_container">
										<div id="map"></div>
									</div>
								</div>
							</div>
					</div>
					-->
				</div>
			</div>
		</div>

		<br>

		<div class="container">
			<hr>
			<div class="listing_features">
				<div class="listing_title">
					<h3>Contactar al Propietario</h3>
				</div>
			</div>
			<br>
			<form method="POST" action="/propiedades/contactOwner/{{ property.pk }}">
				{% csrf_token %}
				<div class="mb-3 row">
			    <label for="email" class="col-sm-2 col-form-label">Correo de Contacto</label>
			    <div class="col-sm-4">
			      <input type="email" class="form-control" style="color: #495057;" id="email" name="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required> <!--pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"-->
			    </div>
			  </div>
				<!-- <div class="mb-3 row">
			    <label for="asunto" class="col-sm-2 col-form-label">Asunto</label>
			    <div class="col-sm-4">
			      <input type="text" class="form-control" style="color: #495057;" id="asunto" name="asunto" required>
			    </div>
			  </div> -->
			  <div class="mb-3 row">
			    <label for="msg" class="col-sm-2 col-form-label">Mensaje</label>
			    <div class="col-sm-4">
			      <textarea class="form-control" id="msg" name="msg" rows="10" style="color: #495057;" required></textarea>
			    </div>
			  </div>
				<br>
				<div class="mb-3 row">
					<div class="col-sm-6">
						<button class="btn btn-primary" style="display: block; margin-right: 0; margin-left:auto;" type="submit">Enviar</button>
					</div>
				</div>
			</form>
			<br>
		</div>

		{% if is_revisor %}
		<!--
			Para la siguiente sección falta mandar el usuario con sus permisos a property
			Para que solo se vea por revisores
		-->

		<div class="container">
			<hr>
			<div class="listing_features">
				<div class="listing_title">
					<h3>Sección de Revisor</h3>
				</div>
			</div>
			<br>
			<a id="validar" href="#" class="btn btn-primary" onclick="historial_propiedad_revisor({{ property.pk }})" data-toggle="modal" data-target="#historial-property-revisor">
				Historial
			</a>
			{% if property.estado_revision and not property.estado_activo %}
				<a id="validar" href="#" class="btn btn-primary" onclick="validar_propiedad_revisor({{ property.pk }})" data-toggle="modal" data-target="#validate-property-revisor">
				Validar
				</a>
			{% endif %}
		</div>
		<br><br>
		{% endif %}


	</div>
</div>



	{% include './modals/validate-property-revisor.html' %}
	{% include './modals/historial-property-revisor.html' %}

{% endblock content %}

{% block optionalJS %}

<script type="text/javascript">
		var titulo;
		var diferenciador;
		var descripcion;
  	$( document ).ready(function() {
			titulo = "{{ property.titulo }}";
			diferenciador = "{{ property.diferenciador }}";
			descripcion = "{{ property.descripcion }}";
    	$('#desc').val(descripcion);
		});
</script>

<script type="text/javascript" src="{% static 'propiedades/js/revisor-propiedades-historial.js' %}"></script>
<script type="text/javascript" src="{% static 'propiedades/js/validar-revisor.js' %}"></script>
<script src="{% static 'root/plugins/colorbox/jquery.colorbox-min.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCxiVzHjuGTAraaNgVRmU6yuEqUB972kiA"></script>
<script src="{% static 'root/js/single.js' %}"></script>
<script type="text/javascript" src="{% static 'propiedades/js/propiedad.js' %}"></script>
<script src="{% static 'propiedades/js/swiper.min.js' %}"></script>
<script src="{% static 'propiedades/js/swpr.js' %}"></script>
<script src="{% static 'propiedades/js/lightbox.js' %}"></script>
{% if revisor %}
	<script type="text/javascript" src="{% static 'propiedades/js/editarPropiedadRevisor.js' %}"></script>
{% endif %}

<script type="text/javascript">
    checkNotificationSession()
</script>

{% endblock %}
