{% extends 'root/base.html' %}
{% load static %}

{% block optionalCSS %}
<link rel="stylesheet" type="text/css" href="{% static 'root/styles/listings.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'root/styles/listings_responsive.css' %}">
<style>
  .input-group > .input-group-prepend > .input-group-text {
  background-color: rgb(69, 233, 164);
  border: none;
}

</style>
{% endblock %}

{% block content %}
<!-- Home -->

<div class="home">
  <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{% static 'root/images/listings.jpg' %}" data-speed="0.8"></div>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="home_content text-center">
          <div class="home_title">Listings</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Search -->

<div class="search">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="search_container">
          <div class="search_form_container">
            <form class="search_form form-inline justify-content-center">
              <div class="form-row align-items-center">
                  <div class="col-auto">
                    <label class="sr-only" for="tipo">Name</label>
                    <select class="form-control search_input" name="tipo" id="tipo">
                      <option disabled="disabled" value="" selected="selected">Tipo de propiedad</option>
                      <option value="casa">Casa</option>
                      <option value="departamento">Departamento</option>
                      <option value="edificio">Edificio</option>
                      <option value="local">Local</option>
                      <option value="terreno">Terreno</option>
                    </select>
                  </div>
                  <div class="col-auto">
                    <select class="form-control search_input" name="oferta" id="oferta">
                      <option disabled="disabled" value="" selected="selected">Tipo de oferta</option>
                      <option value="venta">Venta</option>
                      <option value="renta">Renta</option>
                  </select>
                  </div>

                  <div class="col-auto">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                        </div>
                        <input type="number" class="form-control" id="precio_min" name="precio_min" placeholder="Precio mínimo">
                      </div>
                    </div>
                  </div>

                  <div class="col-auto">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                        </div>
                        <input type="number" class="form-control" id="precio_max" name="precio_max" placeholder="Precio máximo">
                      </div>
                    </div>
                  </div>

                  <div class="col-auto">
                    <button class="btn btn-success" type="submit">Buscar</button>
                  </div>
              </div>
            </form>
          </div>

          <div class="extra_search_buttons d-flex flex-row align-items-start justify-content-start">
            <div class="extra_search_button search_button_1"><a href="#">Detailed Search</a></div>
            <div class="extra_search_button search_button_2"><a href="#">Show Map</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Listings -->

<div class="listings">
  <div class="container">
    <div class="row">
      <div class="col">

        <!-- Sorting -->
        <div class="sorting d-flex flex-md-row flex-column align-items-start justify-content-start">

          <!-- Tags -->
          <div class="listing_tags">
            <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
              <li><a href="#">2 beds<span>x</span></a></li>
              <li><a href="#">2 baths<span>x</span></a></li>
              <li><a href="#">garage<span>x</span></a></li>
              <li><a href="#">swimming pool<span>x</span></a></li>
              <li><a href="#">patio<span>x</span></a></li>
              <li><a href="#">heated floors<span>x</span></a></li>
              <li><a href="#">garden<span>x</span></a></li>
            </ul>
          </div>

          <!-- Sort -->
          <div class="sorting_container">
            <div class="sort">
              <span>Sort By</span>
              <ul>
                <li class="sorting_button" data-isotope-option='{ "sortBy": "original-order" }'>Default</li>
                <li class="sorting_button" data-isotope-option='{ "sortBy": "price" }'>Price</li>
                <li class="sorting_button" data-isotope-option='{ "sortBy": "area" }'>Area</li>
              </ul>
            </div>
          </div>

        </div>


        <!-- Listings Container -->
        <div class="listings_container">

          {% if resultados %}
            {% for p in resultados %}
         
              <!-- Listing -->
              <div class="listing_box house sale">
                <div class="listing">
                  <div class="listing_image">
                    <div class="listing_image_container">
                      <img src="{% static 'root/images/listing_1.jpg' %}" alt="">
                    </div>
                    <div class="tags d-flex flex-row align-items-start justify-content-start flex-wrap">
                      <div class="tag tag_house"><a href="listings.html">{{ p.tipo }}</a></div>
                      <div class="tag tag_sale"><a href="listings.html">{{ p.oferta }}</a></div>
                    </div>
                    <div class="tag_price listing_price">$ {{ p.precio }}</div>
                  </div>
                  <div class="listing_content">
                    <div class="prop_location listing_location d-flex flex-row align-items-start justify-content-start">
                      <img src="{% static 'root/images/icon_1.png' %}" alt="">
                      <a href="property/{{ p.id }}">{{ p.direccion }} {{ p.colonia }}, {{ p.estado }} {{ p.codigo_postal }}</a>
                    </div>
                    <div class="listing_info">
                      <ul class="d-flex flex-row align-items-center justify-content-start flex-wrap">
                        <li class="property_area d-flex flex-row align-items-center justify-content-start">
                          <img src="{% static 'root/images/icon_2.png' %}" alt="">
                          <span>{{ p.metros_terreno }} m2</span>
                        </li>
                        <li class="d-flex flex-row align-items-center justify-content-start">
                          <img src="{% static 'root/images/icon_3.png' %}" alt="">
                          <span>{{ p.banos }}</span>
                        </li>
                        <li class="d-flex flex-row align-items-center justify-content-start">
                          <img src="{% static 'root/images/icon_4.png' %}" alt="">
                          <span>{{ p.habitaciones }}</span>
                        </li>
                        <li class="d-flex flex-row align-items-center justify-content-start">
                          <img src="{% static 'root/images/icon_5.png' %}" alt="">
                          <span>{{ p.garage }}</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% else %}
          <h3>No hubo resultados en tu búsqueda</h3>
          {% endif %}
          
        </div>
        <div class="load_more">
          <div class="button ml-auto mr-auto"><a href="#">load more</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block optionalJS %}
<script src="{% static 'root/plugins/Isotope/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'root/js/listings.js' %}"></script>
{% endblock %}
