{% extends 'root/base.html' %}
{% load static %}
{% load filters %}

{% block optionalCSS %}
<link rel="stylesheet" type="text/css" href="{% static 'propiedades/css/properties.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'root/styles/listings.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'root/styles/listings_responsive.css' %}">
<style>
  .input-group > .input-group-prepend > .input-group-text {
  background-color: rgb(69, 233, 164);
  border: none;
}

</style>
{% endblock %}

{% block content %}

<br><br>
<!-- Search -->

<div class="search">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="search_container">
          <div class="search_form_container">
            <form action="#" class="search_form" id="search_form">
              <div class="d-flex flex-lg-row flex-column align-items-start justify-content-lg-between justify-content-start">
                  <div class="search_inputs d-flex flex-lg-row flex-column align-items-start justify-content-lg-between justify-content-start">
                        <select class="form-control search_input" name="tipo" id="tipo">
                          <option disabled="disabled" value="" selected="selected">Tipo de propiedad</option>
                          <option value="Bodega Comercial">Bodega Comercial</option>
                          <option value="Bodega Industrial">Bodega Industrial</option>
                          <option value="Casa">Casa</option>
                          <option value="Consultorio">Consultorio</option>
                          <option value="Cuartos">Cuartos</option>
                          <option value="Departamento">Departamento</option>
                          <option value="Edificio">Edificio</option>
                          <option value="Local">Local</option>
                          <option value="Nave Industrial">Nave Industrial</option>
                          <option value="Oficina">Oficina</option>
                          <option value="Rancho">Rancho</option>
                          <option value="Terreno Comercial">Terreno Comercial</option>
                          <option value="Terreno Habitacional">Terreno Habitacional</option>
                          <option value="Terreno Industrial">Terreno Industrial</option>
                        </select>

                          <select class="form-control search_input" name="oferta" id="oferta">
                            <option disabled="disabled" value="" selected="selected">Tipo de oferta</option>
                            <option value="venta">Venta</option>
                            <option value="renta">Renta</option>
                        </select>
                        <select class="form-control search_input" name="estado" id="estado">
                          <option disabled="disabled" value="" selected="selected">Estado</option>
                          <option value="Aguascalientes">Aguascalientes</option>
                          <option value="Baja California">Baja California</option>
                          <option value="Baja California Sur">Baja California Sur</option>
                          <option value="Campeche">Campeche</option>
                          <option value="Chiapas">Chiapas</option>
                          <option value="Chihuahua">Chihuahua</option>
                          <option value="CDMX">Ciudad de México</option>
                          <option value="Coahuila">Coahuila</option>
                          <option value="Colima">Colima</option>
                          <option value="Durango">Durango</option>
                          <option value="Estado de México">Estado de México</option>
                          <option value="Guanajuato">Guanajuato</option>
                          <option value="Guerrero">Guerrero</option>
                          <option value="Hidalgo">Hidalgo</option>
                          <option value="Jalisco">Jalisco</option>
                          <option value="Michoacán">Michoacán</option>
                          <option value="Morelos">Morelos</option>
                          <option value="Nayarit">Nayarit</option>
                          <option value="Nuevo León">Nuevo León</option>
                          <option value="Oaxaca">Oaxaca</option>
                          <option value="Puebla">Puebla</option>
                          <option value="Querétaro">Querétaro</option>
                          <option value="Quintana Roo">Quintana Roo</option>
                          <option value="San Luis Potosí">San Luis Potosí</option>
                          <option value="Sinaloa">Sinaloa</option>
                          <option value="Sonora">Sonora</option>
                          <option value="Tabasco">Tabasco</option>
                          <option value="Tamaulipas">Tamaulipas</option>
                          <option value="Tlaxcala">Tlaxcala</option>
                          <option value="Veracruz">Veracruz</option>
                          <option value="Yucatán">Yucatán</option>
                          <option value="Zacatecas">Zacatecas</option>
                      </select>
                  </div>
                  <button class="search_button">Buscar propiedad</button>
                </div>
              </form>
          </div>


          <div class="extra_search_buttons d-flex flex-row align-items-start justify-content-start">
            <div class="extra_search_button search_button_1" id="toggle_chk"><a href="#">Avanzado</a></div>
            <!--
              <div class="extra_search_button search_button_2"><a href="#">Show Map</a></div>
            -->
          </div>
          <div class="search_form_container" id="filtros_avanzados" style="color: white; display: none;">
            <form action="#" class="search_form" id="filtros_avanzados_chk">

                    <label class="label"><b>Otros:</b></label>
                    <div class="row row-space">
                      <div class="col-3">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="A-C" value="A/C" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px; padding-top: 6px;">A/C</label>
                        </div>
                      </div>
                      <div class="col-3 terreno" style="display: none;">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="Agua" value="Agua" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px; padding-top: 6px;">Agua</label>
                        </div>
                      </div>
                      <div class="col-3 bodega" style="display: none;">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="AguaPotable" value="Agua Potable" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px; padding-top: 6px;">Agua Potable</label>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="Alberca" value="Alberca" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px; padding-top: 6px;">Alberca</label>
                        </div>
                      </div>
                      <div class="col-3 bodega" style="display: none;">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="AltoVoltaje" value="Alto Voltaje" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px; padding-top: 6px;">Alto Voltaje</label>
                        </div>
                      </div>
                      <div class="col-3 mueble" style="display: none;">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="Amueblados" value="Amueblados" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px; padding-top: 6px;">Amueblados</label>
                        </div>
                      </div>
                      <div class="col-3 bodega" style="display: none;">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="AndénTráiler" value="Andén Tráiler" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px; padding-top: 6px;">Andén Tráiler</label>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="Asador" value="Asador" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px; padding-top: 6px;">Asador</label>
                        </div>
                      </div>
                      <div class="col-3 bodega" style="display: none;">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="BañosObreros" value="Baños Obreros" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px; padding-top: 6px;">Baños Obreros</label>
                        </div>
                      </div>
                      <div class="col-3 bodega" style="display: none;">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="BañosOficina" value="Baños Oficina" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px; padding-top: 6px;">Baños Oficina</label>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="Bar" value="Bar" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px; padding-top: 6px;">Bar</label>
                        </div>
                      </div>
                      <div class="col-3 bodega" style="display: none;">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="Báscula" value="Báscula" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px; padding-top: 6px;">Báscula</label>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="Calefacción" value="Calefacción" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px; padding-top: 6px;">Calefacción</label>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="Chimenea" value="Chimenea" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px; padding-top: 6px;">Chimenea</label>
                        </div>
                      </div>
                      <div class="col-3 cisterna" style="display: none;">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="Cisterna" value="Cisterna" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px; padding-top: 6px;">Cisterna</label>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="ClubDeportivo" value="Club Deportivo" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px; padding-top: 6px;">Club Deportivo</label>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="CocinaIntegral" value="Cocina Integral" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px; padding-top: 6px;">Cocina Integral</label>
                        </div>
                      </div>
                      <div class="col-3 oficina" style="display: none;">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="Conmutador" value="Conmutador" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px; padding-top: 6px;">Conmutador</label>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="CuartodeServicio" value="Cuarto de Servicio" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px; padding-top: 6px;">Cuarto de Servicio</label>
                        </div>
                      </div>
                      <div class="col-3 elevador" style="display: none;">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="Elevador" value="Elevador" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px; padding-top: 6px;">Elevador</label>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="Estudio" value="Estudio" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px; padding-top: 6px;">Estudio</label>
                        </div>
                      </div>
                      <div class="col-3 terreno" style="display: none;">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="Gas" value="Gas" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px; padding-top: 6px;">Gas</label>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="Hidroneumático" value="Hidroneumático" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px; padding-top: 6px;">Hidroneumático</label>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="Jacuzzi" value="Jacuzzi" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px; padding-top: 6px;">Jacuzzi</label>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="Jardín" value="Jardín" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px; padding-top: 6px;">Jardín</label>
                        </div>
                      </div>
                      <div class="col-3 terreno" style="display: none;">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="Luz" value="Luz" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px; padding-top: 6px;">Luz</label>
                        </div>
                      </div>
                      <div class="col-3 bodega" style="display: none;">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="Oficinas" value="Oficinas" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px; padding-top: 6px;">Oficinas</label>
                        </div>
                      </div>
                      <div class="col-3 oficina" style="display: none;">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="PlantaEléctrica" value="Planta Eléctrica" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px; padding-top: 6px;">Planta Eléctrica</label>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="Privada" value="Privada" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px; padding-top: 6px;">Privada</label>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="SaladeJuegos" value="Sala de Juegos" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px; padding-top: 6px;">Sala de Juegos</label>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="SaladeTV" value="Sala de TV" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px; padding-top: 6px;">Sala de TV</label>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="Teléfono" value="Teléfono" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px; padding-top: 6px;">Teléfono</label>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="Vigilancia" value="Vigilancia" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px; padding-top: 6px;">Vigilancia</label>
                        </div>
                      </div>
                      <div class="col-3 bodega" style="display: none;">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="Voltaje110" value="Voltaje 110" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px; padding-top: 6px;">Voltaje 110</label>
                        </div>
                      </div>
                      <div class="col-3 bodega" style="display: none;">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="Voltaje220" value="Voltaje 220" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px; padding-top: 6px;">Voltaje 220</label>
                        </div>
                      </div>
                      <div class="col-3 rancho" style="display: none;">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="otros[]" id="ZonadeÁrboles" value="Zona de Árboles" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px; padding-top: 6px;">Zona de Árboles</label>
                        </div>
                      </div>
                    </div>
                    <br>
                    <br>
                    <label class="label"><b>Restricciones:</b></label>
                    <div class="row row-space">
                      <div class="col-3">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="rest[]" id="NoMascotas" value="No Mascotas" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px; padding-top: 6px;">No Mascotas</label>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="rest[]" id="NoNiños" value="No Niños" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px; padding-top: 6px;">No Niños</label>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="rest[]" id="ParaEjecutivos" value="Para Ejecutivos" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px; padding-top: 6px;">Para Ejecutivos</label>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="input-group" style="margin-top: 20px;">
                            <input class="checkmark" type="checkbox" name="rest[]" id="SóloFamilias" value="Sólo Familias" style="position: relative; margin-top: 12px; margin-left: 30px;">
                            <label class="label" for="" style="padding-left: 10px; padding-top: 6px;">Sólo Familias</label>
                        </div>
                      </div>
                    </div>
                    <br>

                  <button class="search_button">Buscar propiedad</button>

              </form>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>



<!-- Listings -->

<div class="listings">
  <div class="container">
    <div class="row">
      <div class="col">

        <!-- Sorting -->
        <div class="sorting d-flex flex-md-row flex-column align-items-start justify-content-start">

          <!-- Tags -->
          <div class="listing_tags">
            <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
              {% if active_filters %}
              {% for f in active_filters %}
              <li><a href="#" class="clickToDeleteFilter" data-filtername="{{ f.attr }}" {% if f.val %} data-value="{{ f.val }}" {% endif %}>{{ f.text }}<span>x</span></a></li>
              {% endfor %}
              {% else %}
              {% endif %}
              <!--
              <li><a href="#">2 baths<span>x</span></a></li>
              <li><a href="#">garage<span>x</span></a></li>
              <li><a href="#">swimming pool<span>x</span></a></li>
              <li><a href="#">patio<span>x</span></a></li>
              <li><a href="#">heated floors<span>x</span></a></li>
              <li><a href="#">garden<span>x</span></a></li>
              -->
            </ul>
          </div>

          <!-- Sort -->
          <div class="sorting_container">
						<div class="sort">
							<span>Ordenar</span>
							<ul>
								<li class="sorting_button" data-isotope-option='{ "sortBy": "date", "sortAscending" : false }'>Por Fecha</li>
								<li class="sorting_button" data-isotope-option='{ "sortBy": "price", "sortAscending" : false }'>Precio</li>
								<li class="sorting_button" data-isotope-option='{ "sortBy": "area", "sortAscending" : false }'>m<sup>2</sup></li>
                <li class="sorting_button" data-isotope-option='{ "sortBy": "banos", "sortAscending" : false }'>Baños</li>
                <li class="sorting_button" data-isotope-option='{ "sortBy": "habs", "sortAscending" : false }'>Habitaciones</li>
                <li class="sorting_button" data-isotope-option='{ "sortBy": "garaje", "sortAscending" : false }'>Garaje</li>
							</ul>
						</div>
					</div>

        </div>



<!--FILTERS-->
    <div class="row">
      <div class="col-sm-12 col-md-3 col-lg-3">


        <div class="card">
          <div class="card-header" style="background-color: #3167eb; color: #eee; text-align: center; font-size: large;">
            <div class="row">
              <div class="col-10">
                FILTROS
              </div>
              <div class="col-2">
                <i class="fas fa-filter"></i>
              </div>
            </div>
          </div>

          <!--Agrega clase "show" en #collapse_aside... para que se muestre por defautl-->
          <article class="filter-group"> <!--CATEGORIES  TIPO DE PROPIEDAD-->
            <header class="card-header"> <a href="#" data-toggle="collapse" data-target="#collapse_aside_tipo_propiedad" data-abc="true" aria-expanded="false" class="collapsed"> <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title">Tipo de Propiedad</h6>
                </a> </header>
            <div class="filter-content collapse" id="collapse_aside_tipo_propiedad">
                <div class="card-body">
                    <div class="list-group list-group-flush">
                      <a href="#" class="list-group-item filter-click" data-name="tipo" data-value="Bodega Comercial">Bodega Comercial</a>
                      <a href="#" class="list-group-item filter-click" data-name="tipo" data-value="Bodega Industrial">Bodega Industrial</a>
                      <a href="#" class="list-group-item filter-click" data-name="tipo" data-value="Casa">Casa</a>
                      <a href="#" class="list-group-item filter-click" data-name="tipo" data-value="Consultorio">Consultorio</a>
                      <a href="#" class="list-group-item filter-click" data-name="tipo" data-value="Cuartos">Cuartos</a>
                      <a href="#" class="list-group-item filter-click" data-name="tipo" data-value="Departamento">Departamento</a>
                      <a href="#" class="list-group-item filter-click" data-name="tipo" data-value="Edificio">Edificio</a>
                      <a href="#" class="list-group-item filter-click" data-name="tipo" data-value="Local">Local</a>
                      <a href="#" class="list-group-item filter-click" data-name="tipo" data-value="Nave Industrial">Nave Industrial</a>
                      <a href="#" class="list-group-item filter-click" data-name="tipo" data-value="Oficina">Oficina</a>
                      <a href="#" class="list-group-item filter-click" data-name="tipo" data-value="Rancho">Rancho</a>
                      <a href="#" class="list-group-item filter-click" data-name="tipo" data-value="Terreno Comercial">Terreno Comercial</a>
                      <a href="#" class="list-group-item filter-click" data-name="tipo" data-value="Terreno Habitacional">Terreno Habitacional</a>
                      <a href="#" class="list-group-item filter-click" data-name="tipo" data-value="Terreno Industrial">Terreno Industrial</a>
                    </div>  <!-- list-group .// -->
                </div>
            </div>
        </article>


          <article class="filter-group"> <!--CATEGORIES TIPO DE OFERTA-->
              <header class="card-header"> <a href="#" data-toggle="collapse" data-target="#collapse_aside1" data-abc="true" aria-expanded="false" class="collapsed"> <i class="icon-control fa fa-chevron-down"></i>
                      <h6 class="title">Tipo de Oferta</h6>
                  </a> </header>
              <div class="filter-content collapse" id="collapse_aside1">
                  <div class="card-body">
                      <div class="list-group list-group-flush">
                        <a href="#" class="list-group-item filter-click" data-name="oferta" data-value="venta">Venta</a>
                        <a href="#" class="list-group-item filter-click" data-name="oferta" data-value="renta">Renta</a>
                      </div>  <!-- list-group .// -->
                  </div>
              </div>
          </article>

          <article class="filter-group"> <!--PRECIO INPUT MIN MAX-->
              <header class="card-header"> <a href="#" data-toggle="collapse" data-target="#collapse_aside2" data-abc="true" aria-expanded="false" class="collapsed"> <i class="icon-control fa fa-chevron-down"></i>
                      <h6 class="title">Precio </h6>
                  </a> </header>
              <div class="filter-content collapse" id="collapse_aside2">
                  <div class="card-body">
                    <div class="form-row">
                          <div class="form-group col-md-6"> <label>Min</label> <input class="form-control" placeholder="$0" type="number" id="precio_min" name="precio_min"> </div>
                          <div class="form-group text-right col-md-6"> <label>Max</label> <input class="form-control" placeholder="$1,000" type="number" id="precio_max" name="precio_max"> </div>
                      </div> <a href="#" class="btn btn-medium btn-success filter-click"  data-name="precio" >Aplicar</a>
                  </div>
              </div>
          </article>

          <article class="filter-group"> <!--CATEGORIES ÁREA DE CONSTRUCCIÓN-->
            <header class="card-header"> <a href="#" data-toggle="collapse" data-target="#collapse_aside_area_construccion" data-abc="true" aria-expanded="false" class="collapsed"> <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title">Área de construcción</h6>
                </a> </header>
            <div class="filter-content collapse" id="collapse_aside_area_construccion">
                <div class="card-body">
                    <div class="list-group list-group-flush" id="estados-menu">
                      <a href="#" class="list-group-item filter-click" data-name="metros_construccion" data-value="-250">Menor a 250 m<sup>2</sup></a>
                      <a href="#" class="list-group-item filter-click" data-name="metros_construccion" data-value="250-500">De 250 m<sup>2</sup> a 500 m<sup>2</sup></a>
                      <a href="#" class="list-group-item filter-click" data-name="metros_construccion" data-value="500-1000">De 500 m<sup>2</sup> a 1000 m<sup>2</sup></a>
                      <a href="#" class="list-group-item filter-click" data-name="metros_construccion" data-value="1000-2000">De 1000 m<sup>2</sup> a 2000 m<sup>2</sup></a>
                      <a href="#" class="list-group-item filter-click" data-name="metros_construccion" data-value="2000-5000">De 2000 m<sup>2</sup> a 5000 m<sup>2</sup></a>
                      <a href="#" class="list-group-item filter-click" data-name="metros_construccion" data-value="5000-">Mayor a 5000 m<sup>2</sup></a>
                    </div>  <!-- list-group .// -->
                </div>
            </div>
          </article>


          <article class="filter-group"> <!--CATEGORIES ÁREA DE TERRENO-->
            <header class="card-header"> <a href="#" data-toggle="collapse" data-target="#collapse_aside_area_terreno" data-abc="true" aria-expanded="false" class="collapsed"> <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title">Área de terreno</h6>
                </a> </header>
            <div class="filter-content collapse" id="collapse_aside_area_terreno">
                <div class="card-body">
                    <div class="list-group list-group-flush" id="estados-menu">
                      <a href="#" class="list-group-item filter-click" data-name="metros_terreno" data-value="-250">Menor a 250 m<sup>2</sup></a>
                      <a href="#" class="list-group-item filter-click" data-name="metros_terreno" data-value="250-500">De 250 m<sup>2</sup> a 500 m<sup>2</sup></a>
                      <a href="#" class="list-group-item filter-click" data-name="metros_terreno" data-value="500-1000">De 500 m<sup>2</sup> a 1000 m<sup>2</sup></a>
                      <a href="#" class="list-group-item filter-click" data-name="metros_terreno" data-value="1000-2000">De 1000 m<sup>2</sup> a 2000 m<sup>2</sup></a>
                      <a href="#" class="list-group-item filter-click" data-name="metros_terreno" data-value="2000-5000">De 2000 m<sup>2</sup> a 5000 m<sup>2</sup></a>
                      <a href="#" class="list-group-item filter-click" data-name="metros_terreno" data-value="5000-">Mayor a 5000 m<sup>2</sup></a>
                  </div>  <!-- list-group .// -->
                </div>
            </div>
        </article>

        <article class="filter-group"> <!--CATEGORIES ÁREA DE CONSTRUCCIÓN-->
          <header class="card-header"> <a href="#" data-toggle="collapse" data-target="#collapse_aside_baños" data-abc="true" aria-expanded="false" class="collapsed"> <i class="icon-control fa fa-chevron-down"></i>
                  <h6 class="title">Número de baños</h6>
              </a> </header>
          <div class="filter-content collapse" id="collapse_aside_baños">
              <div class="card-body">
                  <div class="list-group list-group-flush">
                    <a href="#" class="list-group-item filter-click" data-name="banos" data-value="1">1</a>
                    <a href="#" class="list-group-item filter-click" data-name="banos" data-value="2">2</a>
                    <a href="#" class="list-group-item filter-click" data-name="banos" data-value="3">3</a>
                    <a href="#" class="list-group-item filter-click" data-name="banos" data-value="4">4</a>
                    <a href="#" class="list-group-item filter-click" data-name="banos" data-value="4-">4+</a>
                  </div>  <!-- list-group .// -->
              </div>
          </div>
        </article>


        <article class="filter-group"> <!--CATEGORIES PISOS-->
          <header class="card-header"> <a href="#" data-toggle="collapse" data-target="#collapse_aside_pisos" data-abc="true" aria-expanded="false" class="collapsed"> <i class="icon-control fa fa-chevron-down"></i>
                  <h6 class="title">Número de pisos</h6>
              </a> </header>
          <div class="filter-content collapse" id="collapse_aside_pisos">
              <div class="card-body">
                  <div class="list-group list-group-flush">
                    <a href="#" class="list-group-item filter-click" data-name="pisos" data-value="1">1</a>
                    <a href="#" class="list-group-item filter-click" data-name="pisos" data-value="2">2</a>
                    <a href="#" class="list-group-item filter-click" data-name="pisos" data-value="3">3</a>
                    <a href="#" class="list-group-item filter-click" data-name="pisos" data-value="3-">3+</a>
                  </div>  <!-- list-group .// -->
              </div>
          </div>
        </article>

        <article class="filter-group"> <!--CATEGORIES PISOS-->
          <header class="card-header"> <a href="#" data-toggle="collapse" data-target="#collapse_aside_estacionamiento" data-abc="true" aria-expanded="false" class="collapsed"> <i class="icon-control fa fa-chevron-down"></i>
                  <h6 class="title">Estacionamiento</h6>
              </a> </header>
          <div class="filter-content collapse" id="collapse_aside_estacionamiento">
              <div class="card-body">
                  <div class="list-group list-group-flush">
                    <a href="#" class="list-group-item filter-click" data-name="garage" data-value="0">0</a>
                    <a href="#" class="list-group-item filter-click" data-name="garage" data-value="1">1</a>
                    <a href="#" class="list-group-item filter-click" data-name="garage" data-value="2">2</a>
                    <a href="#" class="list-group-item filter-click" data-name="garage" data-value="3">3</a>
                    <a href="#" class="list-group-item filter-click" data-name="garage" data-value="3-">3+</a>
                  </div>  <!-- list-group .// -->
              </div>
          </div>
        </article>

        </div>
      </div>

      <div class="col-sm-12 col-md-9 col-lg-9">

        <!-- Listings Container -->
        <div class="listings_container">

          {% if resultados %}
            {% for v in resultados %}

              <!-- Listing -->
              <div class="listing_box house sale">

                  <div class="listing">
                      <div class="listing_image">
                        <a href="/propiedades/property/{{ v.pk }}">
                          <div class="listing_image_container">
                              <img src="{{ v.portada.url }}" alt="">
                          </div>
                        </a>
                          <div class="tags d-flex flex-row align-items-start justify-content-start flex-wrap">
                              <div class="tag tag_house"><a href="/propiedades/property/{{ v.pk }}">{{ v.tipo }}</a></div>
                              <div class="tag tag_sale"><a href="/propiedades/property/{{ v.pk }}">{{ v.oferta }}</a></div>
                          </div>
                          <div class="tag_price listing_price">{{ v.precio }}</div>
                      </div>
                      <div class="listing_content">
                          <div class="prop_location listing_location d-flex flex-row align-items-start justify-content-start">
                              <img src="{% static 'root/images/icon_1.png' %}" alt="">
                              <a href="/propiedades/property/{{ v.pk }}">{{ v.direccion }}, {{ v.estado }}, {{ v.codigo_postal }}</a>
                          </div>
                          <div class="listing_info">
                              <ul class="d-flex flex-row align-items-center justify-content-start flex-wrap">
                                  <li class="property_area d-flex flex-row align-items-center justify-content-start">
                                      <img src="{% static 'root/images/area20.png' %}" alt="">
                                      <span>{{ v.metros_terreno|floatformat }} m<sup>2</sup></span>
                                  </li>
                                  {% if v.banos or v.banos == 0 %}
                                    <li class="property_banos d-flex flex-row align-items-center justify-content-start">
                                        <img src="{% static 'root/images/bano20.png' %}" alt="">
                                        <span>{{ v.banos|rounding }}</span>
                                    </li>
                                  {% endif %}
                                  {% if v.habitaciones or v.habitaciones == 0 %}
                                    <li class="property_habs d-flex flex-row align-items-center justify-content-start">
                                        <img src="{% static 'root/images/cama20.png' %}" alt="">
                                        <span>{{ v.habitaciones }}</span>
                                    </li>
                                  {% endif %}
                                  {% if v.garaje or v.garaje == 0 %}
                                    <li class="property_garaje d-flex flex-row align-items-center justify-content-start">
                                        <img src="{% static 'root/images/carro20.png' %}" alt="">
                                        <span>{{ v.garaje }}</span>
                                    </li>
                                  {% endif %}
                              </ul>
                              <span style="color: #606060; font-size: 10px;">Publicada el {{ v.fecha_publicacion }}</span>
                              <span class="property_date" hidden>{{ v.fecha_publicacion|strdate }}</span>
                          </div>
                      </div>
                  </div>
          </div>
            {% endfor %}
          {% else %}
          <h3>No se encontraron resultados con esas características</h3>
          {% endif %}

        </div>

        <br><br>

        <!-- <div id="pag" style="display: flex; justify-content: center;"></div>

        <!--
        <div class="load_more">
          <div class="button ml-auto mr-auto"><a href="#">load more</a></div>
        </div>
        -->


      </div>
    </div>


      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block optionalJS %}
<script>var sort = ""; var bool = false;</script>
<script src="{% static 'root/plugins/Isotope/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'root/js/listings.js' %}"></script>
<script type="text/javascript" src="{% static 'propiedades/js/navbar.js' %}"></script>
<script type="text/javascript" src="{% static 'propiedades/js/filters.js' %}"></script>
<script src="{% static 'propiedades/js/mobile.js' %}"></script>
<!-- <script src="{% static 'propiedades/js/paginacion.js' %}"></script> -->
{% endblock %}
