<!-- Modal que forma parte de borar usuario -->
<div class="modal fade" id="historial-property-revisor" tabindex="-1" role="dialog" aria-labelledby="historial-property-revisor-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!--HEADER-->
        <div class="modal-header">
          <h3 class="modal-title" id="historial-title">Cargando...</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <!--BODY-->
        <div class="modal-body" style="max-height: 585px; overflow-y: auto;">
            <div id="historial">
                <p>Cargando...</p>


            </div>
        </div>

<!--

        <div class="modal-footer">
        </div>
    -->
      </div>
    </div>
  </div>
