{% load static %}

<!-- Header Content -->
<div class="header_content d-flex align-items-start">
    <a href="/"><img src="{% static 'root/images/logo.png' %}" alt="logo de conexión inmueble" height="80px"></a>
    <!--<div class="logo"><a href="/"><span>Tachyon</span></a></div>-->


    <nav class="main_nav">
        <ul class="d-flex flex-row align-items-center justify-content-center">
            <li id="home" class="active"><a href="/">Inicio</a></li>

            <li id="properties"><a href="/propiedades">Propiedades</a></li>

            {% if 'visualizar_usuarios' in request.session.permissions %}
              <li id="users"><a href="/usuarios">Usuarios</a></li>
            {% endif %}

            {% if request.user.is_authenticated %}
            <li id="profile"><a href="/usuarios/{{ request.user.pk }}">Perfil</a></li>
            {% endif %}

            {% if 'visualizar_mis_propiedades' in request.session.permissions %}
              <li id="my_pro"><a href="/propiedades/myProperties">Mis Propiedades</a></li>
            {% endif %}

            {% if 'visualizar_peticiones' in request.session.permissions %}
            <li id="en_revision"><a href="/propiedades/enRevision">En Revisión</a></li>
            <li id="mis_revisiones"><a href="/propiedades/mis-revisiones">Mis Revisiones</a></li>
            {% endif %}

            <li id="nosotros"><a href="/nosotros">Nosotros</a></li>
            <!--
            <li><a href="listings.html">Propiedades</a></li>
            <li><a href="blog.html">Noticias</a></li>
            <li><a href="contact.html">Contacto</a></li>
            -->
        </ul>
    </nav>
<!--    <div class="submit ml-auto"><a href="#">Buscar Propiedad</a></div>-->
    <div class="hamburger ml-auto"><i class="fa fa-bars" aria-hidden="true"></i></div>
</div>
