{% load static %}

<!-- Header Bar -->
<div class="header_bar d-flex flex-row align-items-center justify-content-start">
    <div class="header_list">
        <ul class="d-flex flex-row align-items-center justify-content-start">
            <!-- Phone -->
            <li class="d-flex flex-row align-items-center justify-content-start">
                <div><img src="{% static 'root/images/phone-call.svg' %}" alt=""></div>
                <span>+546 990221 123</span>
            </li>
            <!-- Address -->
            <li class="d-flex flex-row align-items-center justify-content-start">
                <div><img src="{% static 'root/images/placeholder.svg' %}" alt=""></div>
                <span>Main Str, no 23, New York</span>
            </li>
            <!-- Email -->
            <li class="d-flex flex-row align-items-center justify-content-start">
                <div><img src="{% static 'root/images/envelope.svg' %}" alt=""></div>
                <span>hosting@contact.com</span>
            </li>
        </ul>
    </div>
    <div class="ml-auto d-flex flex-row align-items-center justify-content-start">
        <div class="social">
            <ul class="d-flex flex-row align-items-center justify-content-start">
                <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
            </ul>
        </div>
        <div class="log_reg d-flex flex-row align-items-center justify-content-start">
            <ul class="d-flex flex-row align-items-start justify-content-start">
              {% if request.user.is_authenticated %}
                <li><a href="/usuarios/logout">Cerrar Sesión</a></li>
              {% else %}
                <li><a href="/usuarios/login">Iniciar Sesión</a></li>
                <li><a href="/usuarios/create">Regístrate</a></li>
              {% endif %}
            </ul>
        </div>
    </div>
</div>
