{% load static %}

<title>Conexión Inmueble</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Conexión Inmueble">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<link rel="icon" type="image/png" href="{% static 'usuarios/images/icons/logo-png.png' %}"/>
<link href="{% static 'root/plugins/font-awesome-5.15.2/css/fontawesome.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'root/plugins/font-awesome-5.15.2/css/regular.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'root/plugins/font-awesome-5.15.2/css/solid.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'root/plugins/font-awesome-5.15.2/css/brands.min.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{% static 'root/styles/bootstrap-4.1.2/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'root/plugins/OwlCarousel2-2.3.4/owl.carousel.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'root/plugins/OwlCarousel2-2.3.4/owl.theme.default.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'root/plugins/OwlCarousel2-2.3.4/animate.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'root/styles/notifications.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'root/styles/main_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'root/styles/responsive.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'root/styles/tachyonStyles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'root/styles/datatables.css' %}">
