{% load static %}
{% load numbers %}
<!-- Home -->
<div class="home">

    <!-- Home Slider -->
    <div class="home_slider_container">
         <div class="owl-carousel owl-theme home_slider">

            {% for p in properties %}
            <!-- Slide -->
            <div class="slide">
                <div class="background_image" style="background-image:url({{ p.portada.url }})"></div>
                <div class="home_container">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                              <a href="/propiedades/property/{{ p.pk }}">
                                <div class="home_content">
                                    <div class="home_title"><h1>{{ p.titulo }}</h1></div>
                                    <div class="home_price_tag">{{ p.precio }}</div>
                                </div>
                              </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

            <!-- Slide -->
            <div class="slide">
                <div class="background_image" style="background-image:url(https://www.conexioninmueble.com/Imagenes_Ayuda/ayuda_owl.png)"></div>
                <div class="home_container">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <a href="/ayuda">
                                  <div class="home_content" style="opacity: 0%;">
                                    <div class="home_title"><h1>Ayuda</h1></div>
                                    <div class="home_price_tag">Pública una Propiedad</div>
                                  </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

         </div>

         <!-- Home Slider Navigation -->
         <div class="home_slider_nav"><i class="fa fa-angle-right" aria-hidden="true"></i></div>

    </div>
</div>

<!-- Search -->

<div class="search">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="search_container">
                    <div class="search_title">Encuentra tu hogar</div>
                    <div class="search_form_container">
                        <form action="/propiedades" class="search_form" id="search_form">
                            <div class="d-flex flex-lg-row flex-column align-items-start justify-content-lg-between justify-content-start">
                                <div class="search_inputs d-flex flex-lg-row flex-column align-items-start justify-content-lg-between justify-content-start">
                                      <select class="form-control search_input" name="tipo" id="tipo">
                                        <option disabled="disabled" value="" selected="selected">Tipo de propiedad</option>
                                        <option>Bodega Comercial</option>
                                        <option>Bodega Industrial</option>
                                        <option>Casa</option>
                                        <option>Consultorio</option>
                                        <option>Cuartos</option>
                                        <option>Departamento</option>
                                        <option>Edificio</option>
                                        <option>Local</option>
                                        <option>Nave Industrial</option>
                                        <option>Oficina</option>
                                        <option>Rancho</option>
                                        <option>Terreno Comercial</option>
                                        <option>Terreno Habitacional</option>
                                        <option>Terreno Industrial</option>
                                      </select>

                                        <select class="form-control search_input" name="oferta" id="oferta">
                                          <option disabled="disabled" value="" selected="selected">Tipo de oferta</option>
                                          <option value="venta">Venta</option>
                                          <option value="renta">Renta</option>
                                      </select>
                                      <select class="form-control search_input" name="estado" id="estado">
                                        <option disabled="disabled" value="" selected="selected">Estado</option>
                                        <option value="Aguascalientes">Aguascalientes</option>
                                        <option value="Baja California">Baja California</option>
                                        <option value="Baja California Sur">Baja California Sur</option>
                                        <option value="Campeche">Campeche</option>
                                        <option value="Chiapas">Chiapas</option>
                                        <option value="Chihuahua">Chihuahua</option>
                                        <option value="CDMX">Ciudad de México</option>
                                        <option value="Coahuila">Coahuila</option>
                                        <option value="Colima">Colima</option>
                                        <option value="Durango">Durango</option>
                                        <option value="Estado de México">Estado de México</option>
                                        <option value="Guanajuato">Guanajuato</option>
                                        <option value="Guerrero">Guerrero</option>
                                        <option value="Hidalgo">Hidalgo</option>
                                        <option value="Jalisco">Jalisco</option>
                                        <option value="Michoacán">Michoacán</option>
                                        <option value="Morelos">Morelos</option>
                                        <option value="Nayarit">Nayarit</option>
                                        <option value="Nuevo León">Nuevo León</option>
                                        <option value="Oaxaca">Oaxaca</option>
                                        <option value="Puebla">Puebla</option>
                                        <option value="Querétaro">Querétaro</option>
                                        <option value="Quintana Roo">Quintana Roo</option>
                                        <option value="San Luis Potosí">San Luis Potosí</option>
                                        <option value="Sinaloa">Sinaloa</option>
                                        <option value="Sonora">Sonora</option>
                                        <option value="Tabasco">Tabasco</option>
                                        <option value="Tamaulipas">Tamaulipas</option>
                                        <option value="Tlaxcala">Tlaxcala</option>
                                        <option value="Veracruz">Veracruz</option>
                                        <option value="Yucatán">Yucatán</option>
                                        <option value="Zacatecas">Zacatecas</option>
                                    </select>
                                </div>
                                <button class="search_button">Buscar propiedad</button>
                              </div>
                            </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Featured -->

<div class="featured">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <div class="section_subtitle">Lo más visto</div>
                    <div class="section_title"><h1>Propiedades Destacadas</h1></div>
                </div>
            </div>
        </div>
        <div class="row featured_row">

            <!-- Featured Item -->
            {% for v in views %}
              <div class="col-lg-4">
                  <div class="listing">
                      <div class="listing_image">
                        <a href="/propiedades/property/{{ v.pk }}">
                          <div class="listing_image_container">
                              <img src="{{ v.portada.url }}" alt="">
                          </div>
                        </a>
                          <div class="tags d-flex flex-row align-items-start justify-content-start flex-wrap">
                              <div class="tag tag_house"><a href="/propiedades/property/{{ v.pk }}">{{ v.tipo }}</a></div>
                              <div class="tag tag_sale"><a href="/propiedades/property/{{ v.pk }}">{{ v.oferta }}</a></div>
                          </div>
                          <div class="tag_price listing_price">{{ v.precio }}</div>
                      </div>
                      <div class="listing_content">
                          <div class="prop_location listing_location d-flex flex-row align-items-start justify-content-start">
                              <img src="{% static 'root/images/icon_1.png' %}" alt="">
                              <a href="/propiedades/property/{{ v.pk }}">{{ v.direccion }}, {{ v.estado }}, {{ v.codigo_postal }}</a>
                          </div>
                          <div class="listing_info">
                              <ul class="d-flex flex-row align-items-center justify-content-start flex-wrap">
                                  <li class="property_area d-flex flex-row align-items-center justify-content-start">
                                      <img src="{% static 'root/images/area20.png' %}" alt="">
                                      <span>{{ v.metros_terreno|floatformat }} m<sup>2</sup></span>
                                  </li>
                                  {% if v.banos or v.banos == 0 %}
                                    <li class="d-flex flex-row align-items-center justify-content-start">
                                        <img src="{% static 'root/images/bano20.png' %}" alt="">
                                        <span>{{ v.banos|rounding }}</span>
                                    </li>
                                  {% endif %}
                                  {% if v.habitaciones or v.habitaciones == 0 %}
                                    <li class="d-flex flex-row align-items-center justify-content-start">
                                        <img src="{% static 'root/images/cama20.png' %}" alt="">
                                        <span>{{ v.habitaciones }}</span>
                                    </li>
                                  {% endif %}
                                  {% if v.garaje or v.garaje == 0 %}
                                    <li class="d-flex flex-row align-items-center justify-content-start">
                                        <img src="{% static 'root/images/carro20.png' %}" alt="">
                                        <span>{{ v.garaje }}</span>
                                    </li>
                                  {% endif %}
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
            {% endfor %}

        </div>
    </div>
</div>

<!-- Featured 2 -->

<div class="featured">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <div class="section_subtitle">Lo más nuevo</div>
                    <div class="section_title"><h1>Nuevas Propiedades</h1></div>
                </div>
            </div>
        </div>
        <div class="row featured_row">

            <!-- Featured Item -->
            {% for n in new %}
              <div class="col-lg-4">
                  <div class="listing">
                      <div class="listing_image">
                        <a href="/propiedades/property/{{ n.pk }}">
                          <div class="listing_image_container">
                              <img src="{{ n.portada.url }}" alt="">
                          </div>
                        </a>
                          <div class="tags d-flex flex-row align-items-start justify-content-start flex-wrap">
                              <div class="tag tag_house"><a href="/propiedades/property/{{ n.pk }}">{{ n.tipo }}</a></div>
                              <div class="tag tag_sale"><a href="/propiedades/property/{{ n.pk }}">{{ n.oferta }}</a></div>
                          </div>
                          <div class="tag_price listing_price">{{ n.precio }}</div>
                      </div>
                      <div class="listing_content">
                          <div class="prop_location listing_location d-flex flex-row align-items-start justify-content-start">
                              <img src="{% static 'root/images/icon_1.png' %}" alt="">
                              <a href="/propiedades/property/{{ n.pk }}">{{ n.direccion }}, {{ n.estado }}, {{ n.codigo_postal }}</a>
                          </div>
                          <div class="listing_info">
                              <ul class="d-flex flex-row align-items-center justify-content-start flex-wrap">
                                  <li class="property_area d-flex flex-row align-items-center justify-content-start">
                                      <img src="{% static 'root/images/area20.png' %}" alt="">
                                      <span>{{ n.metros_terreno|floatformat }} m<sup>2</sup></span>
                                  </li>
                                  {% if n.banos or n.banos == 0 %}
                                    <li class="d-flex flex-row align-items-center justify-content-start">
                                        <img src="{% static 'root/images/bano20.png' %}" alt="">
                                        <span>{{ n.banos|rounding }}</span>
                                    </li>
                                  {% endif %}
                                  {% if n.habitaciones or n.habitaciones == 0 %}
                                    <li class="d-flex flex-row align-items-center justify-content-start">
                                        <img src="{% static 'root/images/cama20.png' %}" alt="">
                                        <span>{{ n.habitaciones }}</span>
                                    </li>
                                  {% endif %}
                                  {% if n.garaje or n.garaje == 0 %}
                                    <li class="d-flex flex-row align-items-center justify-content-start">
                                        <img src="{% static 'root/images/carro20.png' %}" alt="">
                                        <span>{{ n.garaje }}</span>
                                    </li>
                                  {% endif %}
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
            {% endfor %}

        </div>
    </div>
</div>

<!-- Hot -->

<!--
<div class="hot">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <div class="section_subtitle">Los mejores descuentos</div>
                    <div class="section_title"><h1>Oferta Especial De Hoy</h1></div>
                </div>
            </div>
        </div>
        <div class="row hot_row row-eq-height">

            <!-- Hot Deal Image -->
            <!--
            <div class="col-lg-6">
                <div class="hot_image">
                    <div class="background_image" style="background-image:url({% static 'root/images/hot.jpg' %})"></div>
                    <div class="tags d-flex flex-row align-items-start justify-content-start flex-wrap">
                        <div class="tag tag_house"><a href="listings.html">Casa</a></div>
                        <div class="tag tag_sale"><a href="listings.html">Venta</a></div>
                    </div>
                </div>
            </div>

            <!-- Hot Deal Content -->
            <!--
            <div class="col-lg-6">
                <div class="hot_content">
                    <div class="hot_deal">
                        <div class="tag_price">$ 562 346</div>
                        <div class="hot_title"><a href="#">Villa for sale</a></div>
                        <div class="prop_location d-flex flex-row align-items-start justify-content-start">
                            <img src="{% static 'root/images/icon_1.png' %}" alt="">
                            <span>280 Doe Meadow Drive Landover, MD 20785</span>
                        </div>
                        <div class="prop_text">
                            <p>Nulla aliquet bibendum sem, non placerat risus venenatis at. Prae sent vulputate bibendum dictum. Cras at vehicula urna. Suspendisse fringilla lobortis justo, ut tempor leo cursus in.</p>
                        </div>
                        <div class="prop_agent d-flex flex-row align-items-center justify-content-start">
                            <div class="prop_agent_image"><img src="{% static 'root/images/agent_1.jpg' %}" alt=""></div>
                            <div class="prop_agent_name"><a href="#">Maria Smith,</a> Agent</div>
                        </div>
                    </div>
                    <div class="prop_info">
                        <ul class="d-flex flex-row align-items-center justify-content-start flex-wrap">
                            <li class="d-flex flex-row align-items-center justify-content-start">
                                <img src="{% static 'root/images/icon_2_large.png' %}" alt="">
                                <div>
                                    <div>1234</div>
                                    <div>m<sup>2</sup></div>
                                </div>
                            </li>
                            <li class="d-flex flex-row align-items-center justify-content-start">
                                <img src="{% static 'root/images/icon_3_large.png' %}" alt="">
                                <div>
                                    <div>2</div>
                                    <div>baños</div>
                                </div>
                            </li>
                            <li class="d-flex flex-row align-items-center justify-content-start">
                                <img src="{% static 'root/images/icon_4_large.png' %}" alt="">
                                <div>
                                    <div>5</div>
                                    <div>hab.</div>
                                </div>
                            </li>
                            <li class="d-flex flex-row align-items-center justify-content-start">
                                <img src="{% static 'root/images/icon_5_large.png' %}" alt="">
                                <div>
                                    <div>2</div>
                                    <div>est.</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
-->

<!-- Testimonials

<div class="testimonials container_reset">
    <div class="container">
        <div class="row row-eq-height">

            <!-- Testimonials Image
            <div class="col-xl-6">
                <div class="testimonials_image">
                    <div class="background_image" style="background-image:url({% static 'root/images/testimonials.jpg' %})"></div>
                    <div class="testimonials_image_overlay"></div>
                </div>
            </div>

            <!-- Testimonials Content
            <div class="col-xl-6">
                <div class="testimonials_content">
                    <div class="section_title_container">
                        <div class="section_subtitle">the best deals</div>
                        <div class="section_title"><h1>Clients testimonials</h1></div>
                    </div>

                    <!-- Testimonials Slider
                    <div class="testimonials_slider_container">
                        <div class="owl-carousel owl-theme test_slider">

                            <!-- Slide
                            <div class="test_slide">
                                <div class="test_quote">"They helped us find our home"</div>
                                <div class="test_text">
                                    <p>Nulla aliquet bibendum sem, non placerat risus venenatis at. Prae sent vulputate bibendum dictum. Cras at vehicula urna. Suspendisse fringilla lobortis justo, ut tempor leo cursus in. Nulla aliquet bibendum sem, non placerat risus venenatis at. Prae sent vulputate bibendum dictum. Cras at vehicula urna. Suspendisse fringilla lobortis justo, ut tempor leo cursus in.</p>
                                </div>
                                <div class="test_author"><a href="#">Cristinne Smith</a>, Client</div>
                            </div>

                            <!-- Slide
                            <div class="test_slide">
                                <div class="test_quote">"They helped us find our home"</div>
                                <div class="test_text">
                                    <p>Nulla aliquet bibendum sem, non placerat risus venenatis at. Prae sent vulputate bibendum dictum. Cras at vehicula urna. Suspendisse fringilla lobortis justo, ut tempor leo cursus in. Nulla aliquet bibendum sem, non placerat risus venenatis at. Prae sent vulputate bibendum dictum. Cras at vehicula urna. Suspendisse fringilla lobortis justo, ut tempor leo cursus in.</p>
                                </div>
                                <div class="test_author"><a href="#">Cristinne Smith</a>, Client</div>
                            </div>

                            <!-- Slide
                            <div class="test_slide">
                                <div class="test_quote">"They helped us find our home"</div>
                                <div class="test_text">
                                    <p>Nulla aliquet bibendum sem, non placerat risus venenatis at. Prae sent vulputate bibendum dictum. Cras at vehicula urna. Suspendisse fringilla lobortis justo, ut tempor leo cursus in. Nulla aliquet bibendum sem, non placerat risus venenatis at. Prae sent vulputate bibendum dictum. Cras at vehicula urna. Suspendisse fringilla lobortis justo, ut tempor leo cursus in.</p>
                                </div>
                                <div class="test_author"><a href="#">Cristinne Smith</a>, Client</div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

-->
