<!-- Menu -->

<div class="menu text-right">
    <div class="menu_close"><i class="fa fa-times" aria-hidden="true"></i></div>
    <div class="menu_log_reg">
        <div class="log_reg d-flex flex-row align-items-center justify-content-end">
            <ul class="d-flex flex-row align-items-start justify-content-start">
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
            </ul>
        </div>
        <nav class="menu_nav">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About us</a></li>
                <li><a href="listings.html">Listings</a></li>
                <li><a href="blog.html">News</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </div>
</div>
